/* Nav */
.navbar {margin-bottom:0;}
.navbar-nav {margin-right:0;} /* bootstrap bug causes needless horizontal scrolling of menu */
.navbar-brand {padding:0;}
.navbar-brand div {padding:5px;}*/
.navbar .input-username {display:inline-block;}
.navbar .form-control, .navbar .form-button {width:auto;}
.navbar .form-group {padding-left:16px;}
.navbar .btn-sm, .navbar .input-sm {margin-top:4px; display:inline-block;}
.nav {padding-top:24px;}
/*.navbar-collapse:after, .navbar-header:after {clear:none;}
.navbar-right {margin:0; padding:5px 0; display:inline-block; float:right;} */
.nav2 {z-index:9999; position:fixed; top:50px; left:-75px; width:100%; padding:0px 0px 0 0; height:0;}
.nav2 .nav2-inner {display:inline-block; width:330px; float:right; margin:-50px 0px 0 0;}
.nav2 form {display:inline-block; float:right; margin:0; padding:0;}
.nav2 .form-group {display:none;}
#extras {margin:9px 25px 0 0; float:right;}
#signin {margin-top:10px;}

@media (min-width: 768px) {
  .nav2 {left:0;}
  .navbar .form-group {display:none;}
  .nav2 .nav2-inner {margin-right:10px;} 
  #signin input {width:140px;}
  .nav2 .form-group {display:inline-block;}
  .nav {padding-top:0;}  
  .navbar .container {width:auto;} /* cancel bootstrap's confinement */
}
@media (min-width: 880px) {
  #signin input {width:auto;}
}
@media (min-width: 992px) {
  .navbar .container {margin-left:50px;} /* re-instate bootstrap's confinement */
}

.breadcrumb {position:absolute; z-index:2; margin:51px 0 0 75px; padding:5px 15px; font-size:85%; background-color:white;}

/* Slideshow */
.flexslider {border:0; margin:50px 0 20px 0;}
.flexslider ul li:first-child {display:block;} /* make first image load immediately */
.flex-caption {
  text-align:center;
  width: 100%;
  padding:10px;
  left:0;
  bottom:0;
  background:silver;
  color:#004000;
  text-shadow:0 -0px 0 silver;
  font-size:18px;
  line-height:18px;
}
.flex-control-nav {display:none;}
.flex-direction-nav a {color:silver; height:100px; overflow:visible;}
.flex-direction-nav .flex-next {right:50px;} /* negative "right" here makes a horizontal scrollbar appear */
.flex-direction-nav .flex-prev {left:50px;}
.slides li img {width:100%; padding:0; margin:0;}

/* Parallax */
.parallax-container {
  width:100%;
  min-height:400px;
  margin:50px 0 40px 0;
}

/* General */
h4 {margin-top:20px;}
.breaker {font-size:3px; color:white;} /* allows spacing after /ul or /ol */
input[type=checkbox] {zoom:1.5;}
.bullet-image {float:left; height:70px; margin:15px 20px 0 0;}
.full {width:100%;}
.example-image {width:70%; margin:30px auto 3px auto;}
.caption {margin:0 auto 20px 0; text-align:center;}
.center {text-align:center;}
.control-label {padding:9px 0 0 0; text-align:right; font-weight:bold; color:darkgreen;}
.help-block {font-size:85%;}
.wellhole {padding:5px 10px 0 0;} /* for columns containing a well */
.well {margin:5px 0; padding-right:13px;}
.well img, .well iframe {width:100%;}
.help-block b {color:darkred;}
.tight {padding:0;}
.odd img {width:30px; height:30px;}
.full.center img {display:inline-block;}
hr .narrow {width:50%;}

.top {margin-top:32px;} /* should be after .well */
.topish {margin-top:0px;} 

@media (min-width:768px) {
  .topish {margin-top:32px;}
  h2.top h2, h2.topish {margin-top:50px;}
}
a[target = "_blank"] {
  background: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20transform%3D%22translate%28-826.429%20-698.791%29%22%3E%3Crect%20width%3D%225.982%22%20height%3D%225.982%22%20x%3D%22826.929%22%20y%3D%22702.309%22%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) center right no-repeat; /* url(../images/external.png) */
  padding-right: 12px;
}
/* a[target = "_blank"]:link {color: #029A26;} */

/* Footer */
footer {text-align:center; margin-top:15px;}
#footer hr,
footer hr {
    border:0;
    height:2px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.shadowy {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* Page Specifics */
.page-index h1 {margin-top:5px;}
.page-index h1 a:hover, .page-index h1 a:focus {text-decoration:none;}

.page-why .top img {width:100%;}

.page-signup .col-sm-5 {padding-right:30px;}
.page-signup form.signup {margin-bottom:20px;}
.page-signup label[for="organizer"] {padding-left:5px;}

.page-communities h1 {margin:0;}
.page-communities iframe {padding:0;}

.page-companies .row div {max-width:700px;}
.page-companies .well {padding:10px 35px;}
.page-companies  .cmpy-name {display:table-cell; width:300px; overflow:hidden; color:darkblue;}
.page-companies  .cmpy-does {display:table-cell; max-width:400px; overflow:hidden;}

.page-about .row .row {margin-top:20px;}
.page-about .col-left {display:table-cell; width:100px; padding-right:10px;}
.page-about .col-right {display:table-cell; width:230px;}

.page-card #pig {width:78%; margin-left:auto; margin-right:auto;}
.page-control img.top {margin-top:55px;}

#ballot {width:85%; margin:40px auto 20px auto; padding:0; background-color:#F2F2F9;}
#ballot .table {display:table;}
#ballot .question div {padding-left:12px; text-align:center;}
#ballot .header {width:100%; height:30px; background-color:darkgreen; color:white; padding:5px 0;}
#ballot .header .options {float:left; width:100px; padding-left:12px;}
#ballot .header .quality {float:right;}
#ballot .header .good {display:inline-block; width:90px;}
#ballot .header .bad {display:inline-block; width:40px; text-align:right;}
#ballot .header .veto {display:inline-block; width:45px; margin-left:20px;}
#ballot .row1 {display:table-row; background-color:#E6F0E6;}
#ballot .row2 {display:table-row; background-color:#FFFBE6;}
#ballot .subject {width:100%; padding-left:12px; font-size:120%;}
#ballot .letters div {vertical-align:bottom;}
#ballot .buttons div {vertical-align:top;}
#ballot .letter {display:table-cell; width:20px; padding:0 3px; text-align:center; font-weight:bold;}
#ballot .aplus {text-align:left;}
#ballot .optionnum {font-weight:bold;}
#ballot .veto {padding-right:18px;}
#ballot .submitrow {padding:0 0 10px 0; text-align:center;}

.page-multiple-choice-vote #circle {display:inline-block; margin-left:30px; font-weight:bold;}

.page-representatives .topish img {width:50%;}

.page-decisionsteps .steps {list-style-type:none; margin-left:0;}
.page-decisionsteps .steps > li {display:block; margin-bottom:15px; counter-increment:step;}
.page-decisionsteps .steps > li:before {
  content: counter(step) " ";
  font-weight:bold;
  color:darkgreen;
  font-size:250%;
  float: left;
  width: 1em;
  margin:-8px 0 0 -40px;
  padding:0;
}
.page-decisionsteps .steps[start="6"] {counter-reset:step 5;}

/* .steps:first-child {counter-reset: customlistcounter;} */

.page-where-is-it-used .topish .well {margin-bottom:35px;}
#influence {margin:5px auto;}

#influence th {text-align:left; color:#333300; font-size:140%; font-weight:bold;}
#influence td {color:white; padding-left:5px; padding-right:5px;}
#influence .cgb {
  width:20px;
  color:black;
  font-weight:bold;
  font-size:140%;
  text-align:center;
  border-left:3px solid black;
  border-right:3px solid black;
  padding-top:0px;
}

#influence .eg {background-color:#f0f0f0; color:#808080;}
#influence .c0 {background-color:yellow;}
#influence .c1 {background-color:gold;}
#influence .c2 {background-color:orange;}
#influence .c3 {background-color:darkred;}
#influence .c4 {background-color:red;}
#influence .c5 {background-color:violet;}
#influence .c6 {background-color:darkviolet;}
#influence .c7 {background-color:darkblue;}
#influence .c8 {background-color:blue;}
#influence .c9 {background-color:green;}
#influence .c25 {background-color:#996600;}
#influence .c45 {background-color:#ff0099;}
#influence .c85 {background-color:#009999;}

#influence .c0.cgb {border-top:3px solid black;}
#influence .c3.cgb, #influence .c25.cgb, #influence .c7.cgb, #influence .c8.cgb {color:silver;}
#influence .c9.cgb {border:0px; background-color:white;vertical-align:top; text-align:left;}

table.BIG .sys a {color:silver;}

#influence .c0 a {color:#666633;}
#influence .c1 a {color:#666633;}
#influence .c2 a {color:#666633;}

#influence .c0 a:hover {color:black;}
#influence .c1 a:hover {color:black;}
#influence .c2 a:hover {color:black;}

#influence .dark {color:#666633;}
#influence .sys {font-weight:bold;}

.page-how-is-it-better .topish img {margin-bottom:20px;}