/* CSS specific to rCredits members site */

@keyframes puff {
    from {opacity:0; font-size:0%;}
    to {opacity:1; font-size:100%;}
}

@font-face {
    font-family: "GnuMICR";
    src: url(GnuMICR.ttf) format("truetype");
}

.smallish {font-size:85%;}
.skip {margin-left:10px;}
.positive {color:green;} /* highlights donations and other happy amounts */
#edit-none {display:none;} /* for hidden submit button */
iframe {border:0; float:right; margin-right:-60px;}
.form-type-checkboxes > .control-label {padding-top:0;}

form ul>li {display: block;}
.btn-back {height:22px; margin-right:10px;}
.btn-back div:first-child {display:inline-block; padding-top:0px; font-size:160%; margin-bottom:5px; margin-top:-7px;}
.btn-back div:first-child + div {display:inline-block;}

form ul>li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e127";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    float: left;
    margin:0 0 0 -25px;
    color: darkgreen;
}

#orgname {display:none;}

@media (min-width: 768px) { /* same as cg.css, but lower threshold (since no "Common Good" and no signin) */
  .nav2 {left:0;}
  .navbar .form-group {display:none;}
  .nav2 .nav2-inner {margin-right:10px;} 
  #signin input {width:140px;}
  .nav2 .form-group {display:inline-block;}
  .nav {padding-top:0;}  
  .navbar .container {width:auto;} /* cancel bootstrap's confinement */
}

.alignR {text-align:right;}
.alignC {text-align:center;}
.alignL {text-align:left;}

.btn-slight {background-color:wheat;}
.gone, .element-invisible {display:none;}
.invisible {visibility:hidden;}
.table {display:table;}
.boxes .row > div {display:table-cell; padding:0 0 5px 17px; vertical-align:top;}
label.submenu {display:none;}

#edit-progress {padding-left:15px;}
#edit-progress b {font-size:200%; color:darkred;}

.prevPage {visibility:hidden;}

.vertical{
/*    writing-mode:tb-rl; */
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
}

@mixin vcenter($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.onechart {min-width:350px;}

/* .element p {
  @include vertical-align();
} */

#navbar {max-height:none;}

#navbar, #navbar.colapse.in {overflow-y:visible;}

a.list-group-item:hover {background-color:#b4dcfe;} /* for non-dropdown menus */

.popmenu {display:none;}
.submenu .popover {min-width:230px;}
.submenu .popover h4 {font-size:14px;}
.submenu .popover-content {padding:0;}
.submenu .popover .arrow:after {border-bottom-color:#044687;}
.submenu a.list-group-item {border-width:0 0 1px 0;}
.submenu a.list-group-item:hover {background-color:#022f5a;}
.submenu a.list-group-item:last-child {border:0;}
.submenu a.list-group-item,
.submenu .list-group-item-heading {color:white !important; font-weight:normal; background:transparent;}
/*nav.navbar.navbar-inverse .container {max-height:50px;}*/
nav.navbar.navbar-inverse .container {max-height:50px;}
#navbar, .submenu .popover {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border-bottom: 1px solid #022241;
}
@media (max-width:768px) {
  #navbar {padding-right:0; position:fixed; z-index:10001; top:50px; right:0; left:auto; margin:0;}
  .navbar-inverse .navbar-nav > li > a,
  .submenu a.list-group-item {background-color:#044687;} /* here, not on #navbar, for android */
  .nav {padding-top:0;}
  .submenu .popover .arrow:after {border-left-color:#044687; border-bottom-color:transparent;}
  #edit-title .control-label {display:none;}
  #edit-title {width:100%; background-color:silver; position:fixed; z-index:2; left:0; top:50px; margin:0 !important; text-align:center;}
  #edit-title .control-data {width:100%; max-width:100% !important; padding:0 2px;}
  #edit-title h3 {margin:10px 0 10px 0;}
  .breadcrumb {display:none;}
  #main {margin-top:50px !important;}
}

#page-wrapper {width:100%; max-width:100; background-color:white;} /* not max-width:961px */
#header {height:60px;}
#main #content {width:100%; float:none; margin:0;}
#edit-all {margin:0; padding:0;}
textarea.form-control {height:100px;}
#frm-php .form-type-textarea { margin-top:40px;}
#frm-php textarea {height:500px;}
#frm-php #edit-res {margin-top:20px;}
#frm-php #edit-res label,
.page-sadmin-php .breadcrumb {display:none;}

.control-label {min-width:184px;}
.control-data {max-width:650px;}
#frm-contact .control-data,
#frm-tx .control-data,
#frm-donate .control-data {max-width:450px;}
#edit-subtext .control-data {max-width:650px;}

.form-vertical .control-label {width:100%; padding-left:15px; text-align:left;}
.form-vertical .control-data {width:100%;}
.form-vertical .ladda-button {margin-left:0;}

@media (max-width:768px) {
  .control-label {width:100%; padding-left:15px; text-align:left;}
  .control-data {width:100%; padding-top:0 !important;}
  .ladda-button {margin-left:0;}
  .control-label[for="agreement"],
  #frm-help .control-label {display:none !important;}
  #edit-agreement .control-data,
  #frm-help .control-data {width:100% !important;}
  #frm-buy .control-label {display:none;}
  #frm-buy .control-data {text-align:center;}
  #frm-buy #edit-account {margin:0 auto;}
  
  .page-pay-with-cg {background-color:white !important;}
  .page-pay-with-cg #page-wrapper {margin-top:0 !important; max-width:100% !important; max-height:200% !important; border:0 !important; box-shadow:none !important;}
  .page-pay-with-cg .navbar {max-width:100% !important; margin-top:0 !important; }
  .page-pay-with-cg .navbar .container {margin:0 !important;}
  
}

#which option:hover {background-color:#7CC6F0;}
.ladda-spinner:focus {} /* dunno why this has a rounded blue border when it has the focus */

.lineup {padding-top:9px;}

table {font-size:85%;}
th {background: #757575; color:white; border-bottom-style: none;}
tbody th {vertical-align: top;}
td, th {padding: 4px 9px; border: 1px solid #fff; text-align: left;}
.even {background: #e6ffe6;}
.odd {background: #ccffcc;}

.form-checkboxes div, .form-checkboxes {display:inline-block;}
/*.form-horizontal  .form-checkboxes input { */
/* .form-horizontal .box1 .checkbox {padding-top:0;} */
.box1 .checkbox, .form-horizontal .checkbox {padding-top:0;}
.form-horizontal .radio, .form-horizontal .radio-inline {margin-left:0; margin-right:15px;}

#frm-community,
#frm-history,
#frm-settings,
#frm-admin {max-width:300px; margin:0 auto;}
#frm-adminpanel button {margin:0 10px 20px 0;}

.confirmation #edit-title .control-label {display:block !important;}
/*.confirmation #actions .form-type-submit {display:inline-block; width:180px;}*/
.confirmation #edit-confirm {margin-right:70px;}

fieldset {-webkit-margin-start:0; -webkit-margin-end:0; -webkit-padding-before:0; -webkit-padding-start:0; -webkit-padding-end:0; -webkit-padding-after:0;}
/* input {-webkit-appearance:none;} /* prevent iPhone and Mac from using their standard non-standard buttons */
legend {-webkit-padding-start: 2px; -webkit-padding-end: 2px;}
.loud {background-color:yellow;}
/*
select {font-size:.85em;}
label.option {font-weight:bold;}
*/
a.buttino {font-size:70%; display:inline-block; background-color:lightgray; border:solid 1px darkgray; -webkit-border-radius: 5px; border-radius: 5px; padding:0 5px;}

.goodRisk {color:green;}
.badRisk {color:orange;}
.tagged {color:red;}
.subdue {color:silver;}
.cgc {color:red;}

/* basic */
/* #header {height:50px;} */
.region-content {margin-top:0px;}
#extras {margin:3px 8px 0 0;}
#extras .photo {width:34px; height:44px; padding:0;}
#extras .photo.co {width:57px;}
#extras button {-webkit-appearance:none; border:1px solid silver;} /* keep Safari from making it oval & squeezed */
#extras img {height:100%; width:100%;}
.not-logged-in #extras {display:none;}

/* nav */
#edit-acct-account {display:none; position:absolute; z-index:5; top:49px; width:100%;}
#edit-acct-account.collapse.in {display:block;}
#edit-acct-account .index-detail {display:none; position:absolute; left:0; top:30px; width:100%; height:315px; background-color:lightgray; border:2px solid darkred; font-size:11px;}
#edit-acct-account .index-detail div {display:inline-block; width:185px; margin-bottom:15px;}
#edit-acct-account .index-detail a {background-color:white; padding:2px 0 2px 5px; margin:1px 3px; width:173px; height:19px; overflow:hidden; display:inline-block; white-space:nowrap;}
#edit-acct-account .index-detail a small {font-size:70%;}
#edit-acct-account ul {float:right; background-color:green; color:silver; list-style-type:none; padding:0 5px;}
#edit-acct-account ul a {color:white;}
#edit-acct-account ul a:hover {text-decoration:none; color:lightblue;}
#edit-acct-account a {color:silver;}
#edit-acct-account a.ok {background-color:lightgreen; color:black;}
#edit-acct-account a.co {background-color:yellow;}
#edit-acct-account a.closed {background-color:black; color:silver;}
#index a {color:black;}
#index {float:right; z-index:6; background-color:silver; padding:3px 0;}
#index a {display:inline-block; color:darkred; padding:0px 7px 0px 7px;}

#simple, #advanced {width:400px; margin:0 auto;}
#dateRange {width:400px; margin:0 auto; display:none;}
#advanced {display:none;}
#simple .control-data, #advanced  .control-data {width:200px; padding:5px;}
#simple select, #advanced input {font-size:80%; height:50%;}
#simple .control-label, #advanced .control-label {width:105px; min-width:105px;}
#edit-show, #edit-download, #showSimple, #showAdvanced {margin:0 0 0 5px;}
/* .form-horizontal .form-item-period {display:inline-block; clear:none; margin-right:0;} */
.form-item-period {display:inline-block; clear:none; margin-right:0;}
#actionsSimple,
#actionsAdvanced {display:inline-block;}

#messages {
  display:inline-block; padding:0px 0 5px 0; width:100%; margin:0 5px; text-align:center;
  -webkit-animation: puff .5s linear; /* Chrome, Safari, Opera */
  animation: puff .5s linear;  
}
.page-sadmin #messages {margin:0;}
#messages .messages {display:inline-block; max-width:800px; text-align:left; margin:28px auto 10px 0; background-position:8px; background-repeat:no-repeat; border:1px solid; padding:10px 10px 10px 40px;
  border-radius:8px; -moz-border-
  :8px; -webkit-border-radius:8px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.7);
}
.page-sadmin #messages .messages {max-width:100%;}

#messages .error {background-color:#fef5f1; color:#8c2e0b; border-color:#ed541d; background-image:url(../images/icons/message-24-error.png);}
#messages .status {background-color:#f8fff0; color:#234600; border-color:#be7; background-image:url(../images/icons/message-24-ok.png);}
#messages .stopnot {font-weight:bold; font-size:200%; color:red;}  
#messages .nextstep,
.page-account #completed,
.page-status #completed {font-weight:bold; font-size:200%; color:green;}
#messages ul {list-style-type:none;}

@media (max-width:768px) {
	body.page-community-events #messages,
	body.page-prox #messages {position:absolute; z-index:999;} /* not ideal for some pages, but better than hidden */
  #messages .messages {margin-bottom:0px;}
}

div#shout {position:absolute; z-index:2; left:300px; top:100px; background-color:yellow; color:darkgreen; font-size:500%;}
#site-name {visibility:hidden;}

#main-menu-links  {display:none;}
#secondary-menu {display:none; padding-bottom:0;}
#sidebar-first {width:0; display:none;}
.sidebar-first #content {float:none;}
.not-logged-in #sidebar-first .section {padding:0px;} */
.not-logged-in #block-user-login {padding:0px; padding-left:12px; margin-bottom:0px;}

#nosignin .messages #subtext {margin:10px 0 0 0; font-size:80%; color:darkgray;}
#nosignin div.status {margin:20px; padding:10px; background-image:none;} 

#main {margin:10px 0 12px 0;}
body.logged-in.one-sidebar #content {width:100%;}
#main .section {margin-left:10px; padding:0 12px;}
#page-title {display: none;}

.r {font-weight:bold; color:green;}
.us {font-weight:normal; color:blue;}

/* Footer */
#footer, #footer label {text-align:center;}
#edit-footerText .control-label {display:none;}

/* Accounts Selector */
#accounts {position:absolute; left:0; top:0; width:100%;}
#accounts .region-accounts {float:right; margin-right:0px; width:100%;}
/* #accounts .content, #accounts .form-item-acct-account {margin:0; padding:0;} */
#accounts .form-type-textfield, #accounts .form-type-select,
#accounts #edit-signin {float:right; margin-right:20px;}
#accounts #edit-signin a {color:white;}
#accounts #edit-acct-settings {float:right;}
#accounts img {height:24px;}
#accounts #edit-acct-settings div {width:20px; height:20px; background-image:url(../images/icons/gear-white.png); background-size:20px 20px; margin:3px 5px 0 5px;}
#accounts #edit-acct-icon {float:right; margin:0 5px 0 0;} 
#accounts #edit-acct-icon img {height:24px; border:1px solid white;}
/*#accounts #edit-acct-account {float:right; padding:0 2px; width:auto; height:27px; margin:0; font-size:100%; border:0; background-color:white;} */
#frm-accounts #edit-acct-submit {display:none;} /* Drupal requires unused button to be there, so make it invisible */
#edit-acct-showmenu, #edit-acct-showhelp {display:none;}

/* Multiple Forms */
#edit-period, #edit-starting, #edit-ending {display:inline-block; width:150px;}
#simple button, #advanced button {display:inline-block;}
#edit-showSimple, #edit-showAdvanced {display:inline-block; padding-left:35px;}

/* Empty */
#frm-empty #edit-title {display:none;}
.page-empty div.status  {margin:20px; padding:10px; background-image:none;} 
.page-empty div.error {margin:20px;} 

/* Verify */
#frm-verify #edit-verify {display:inline-block;}

/* Security */
#frm-security #edit-change a {margin-right:10px;}

/* Grant */
#frm-grant li {margin-bottom:10px;}
#frm-grant .inline {display:inline; max-width:100px;}
#frm-grant #edit-getPartners {max-width:250px;}
#frm-grant #edit-getOther {max-width:500px;}
#frm-grant #edit-sayWhat {max-width:300px;}

/* Invite */
#inviteLink {border:1px solid silver; background-color:lightyellow; color:silver;}

/* Export */
.form-item-chimpSet, .form-item-chimpSet>.control-label {display:none;}

/* Democracy */
body.page-prox-pagedemocracydograde #edit-title {margin-bottom:0;}
#frm-democracy #edit-title .control-data {padding-left:0;}

/* Funding Proposal */
#frm-proposal #edit-subtitle .table {margin-left:25px;}
#frm-proposal #edit-subtitle .row {display:table-row; margin:0;}
#frm-proposal #edit-subtitle .row div {display:table-cell; width:230px;}
#frm-proposal .form-item-recovery div.checkbox {display:block;}

#critChart  .row {margin:10px;}
#critChart .row div {display:table-cell}
#critChart .row div:first-child {width:50px; font-weight:bold; text-align:center;}

/* Invest */
#frm-invest .btn {margin-right:10px;}
#frm-invest #edit-buy {margin-right:100px;}

/* Invest List */
#frm-investlist th,
#frm-investlist td {text-align:right;}
#frm-investlist .k-investment {text-align:left;}

/* Invest Propose */
#frm-investpropose .form-item-fullName,
#frm-investpropose .form-item-city,
#frm-investpropose .form-item-serviceArea,
#frm-investpropose .form-item-dob,
#frm-investpropose .form-item-gross,
#frm-investpropose .form-item-bizCats {display:none;}
#frm-investpropose #edit-dob,
#frm-investpropose #edit-assets,
#frm-investpropose #edit-soundness,
#frm-investpropose #edit-strength,
#frm-investpropose #edit-offering,
#frm-investpropose #edit-price,
#frm-investpropose #edit-web,
#frm-investpropose #edit-repayments,
#frm-investpropose #edit-return {width:150px; display:inline-block; margin-right:5px;}

/* Invest Rate */
#frm-investrate .form-group {margin-bottom:0;}
#frm-investrate .form-item-soundness,
#frm-investrate .form-item-good,
#frm-investrate .form-item-patronage,
#frm-investrate .form-item-comments {margin-bottom:15px;}
#frm-investrate input#edit-good,
#frm-investrate input#edit-patronage {width:150px;}

/* Invest Buy or Sell */
#frm-investbuysell #edit-buy {margin-right:100px;}
#frm-investbuysell #edit-amount {width:150px;}

/* Flags (AML Risks) */
#frm-flags .risky {font-weight:bold; color:red;}
#frm-flags .safe {font-weight:bold; color:green;}
#frm-flags th, #frm-flags td {text-align:center;}
#frm-flags .k-risks {text-align:left;}
#frm-flags .k-amount, #frm-flags .k-score {text-align:right;}
#frm-flags .k-created {min-width:60px;}

/* Notifications */
#frm-notifications .header .vertical {font-weight:bold; margin:35px 0 20px -10px;}

/* Ctty Funds */
#frm-cttyfunds .usd {background-color:darkgreen;}
#frm-cttyfunds .reward {background-color:darkred;}
#frm-cttyfunds .ctty {background-color:darkblue;}
#frm-cttyfunds label {display:none;}

/* Admin Followup Calls */
#frm-followup label {display:none;}
#frm-followup #memberlist th.hd-type,
#frm-followup #memberlist th.hd-call {width:85px;}
#frm-followup #memberlist th.hd-name {width:170px;}
#frm-followup #memberlist th.hd-ctty,
#frm-followup #memberlist th.hd-phone {width:95px;}

/* Member List */
#memberlist .name a {font-weight:bold;}
#memberlist .co a {color:darkred;}

/* Help */
#frm-help em {font-style:normal; font-weight:bold; color:dimgray;}
#frm-help .control-label {width:10%; max-width:100px; min-width:0;}
#frm-help .control-data {width:80%; max-width:1500px; min-width:0;}
/*#frm-help #edit-text .control-label {display:none;}*/
/*#help-link label {width:10em; font-size:.8em; float:right; text-align:left; padding-left:2em; background-image:url(../images/icons/question-mark.gif); background-repeat:no-repeat;} */
#frm-help #edit-title {font-weight:normal;}
/*#frm-help #edit-text {font-size:85%;}*/
#frm-help h2 {font-weight:normal; color:darkblue;}
#frm-help b {color:darkgreen;}
#frm-help i {color:darkblue;}
#frm-help .onechart {float:right; max-width:50%;} /* for charts */
#frm-help .p2p {color:orange;}
#frm-help .p2b {color:green;}
#frm-help .b2b {color:blue;}
#frm-help .b2p {color:red;}
#frm-help .in {color:white; background-color:green;}
#frm-help .out {color:white; background-color:orange;}
#frm-help .import {color:black; background-color:yellow;}
#frm-help .export {color:black; background-color:lightblue;}
#frm-help .top3 {color:white; background-color:darkred;}
#frm-help .neg {color:black; background-color:orange;}
#frm-help .usd {color:white; background-color:darkblue;}
#frm-help .cgcredits {color:white; background-color:darkgreen;}
#frm-help .savings {color:black; background-color:yellow;}
#frm-help .limit {color:white; background-color:magenta;}
#frm-help .cos {color:white; background-color:darkgreen;}
#frm-help .members {color:white; background-color:darkblue;}
#frm-help .active {color:white; background-color:darkred;}
#frm-help .conx {color:white; background-color:orange;}
#frm-help .local {color:white; background-color:green;}
#frm-help .inter {color:black; background-color:yellow;}

#frm-help ol {margin-left:20px;}
#risk-help .goodRisk, #risk-help .badRisk, #risk-help .tagged {font-weight:bold;}
#risk-help td {vertical-align:top;}
#risk-help .weight {text-align:center;}
#frm-help #bit-help td:first-child {color:darkgreen; font-weight:bold;}
#taxes th, #taxes td {text-align:center;}
#taxes th:first-child,
#taxes td:first-child {font-weight:bold; text-align:left;}
#frm-help #special-flag {font-size:100%; margin-bottom:20px;}

/* Honors */
#frm-honors .well {display:inline-block; width:200px; margin:3px 10px;}
#frm-honors #edit-list {width:100%;}
#frm-honors .honor-type {width:300px; text-align:center; font-weight:bold; font-size:30px; color:darkgreen; margin:35px auto 20px auto; padding-right:100px;}

/* Summary / Member Info / Account Info */
#frm-summary .form-item-left {float:left; width:50%;}
#frm-summary .form-item-right {float:right; width:50%;}
#frm-summary .form-item-right>label,
#frm-summary .form-item-left>label {display:none;}
#frm-summary .form-item-right .control-data,
#frm-summary .form-item-left .control-data {width:auto;}
#frm-summary .form-item-left h3.above-details {text-align:center; line-height:18px;}
#frm-summary .form-item-left h3.above-details span {font-size:50%; font-weight:normal; color:gray;}
#frm-summary #intros {text-align:center; margin-bottom:10px;}
#frm-summary #intros div {text-align:left;}
#frm-summary #email-details {background-color:lightyellow; padding:10px; margin:5px 0;}
#frm-summary .admin label {min-width:100px;}
#frm-summary .admin .control-data {width:auto; max-width:auto;}
#frm-summary #left2.admin .control-data,
#frm-summary #right2.admin .control-data {width:450px; max-width:500px;}
#frm-summary #left2.admin #edit-details .control-data {width:auto; max-width:650px;}
#frm-summary #left2.admin #edit-details>.control-data,
#frm-summary #left2.admin .scripts {width:100%; max-width:100%;}
#frm-summary .admin textarea {width:450px;}
#frm-summary .admin .form-checkboxes {width:500px; max-width:500px;}
#frm-summary #edit-notes .control-data {width:450px; max-height:150px; overflow-x:hidden; overflow-y:scroll; overflow-wrap:break-word}
#frm-summary #edit-tickle {max-width:120px; display:inline-block;}
#frm-summary #edit-photo img {max-width:100px;}
#frm-summary #edit-creditlimit .help-block,
#frm-summary #edit-committed .help-block,
#frm-summary #edit-balance .help-block,
#frm-summary #edit-rewards .help-block {display:inline-block; margin:0;}
#frm-summary #edit-topButtons a {margin-right:10px;}
/*#frm-summary .admin #user-picture {position:fixed; top:80px; right:50%; z-index:99;}*/
#frm-summary .admin #edit-photo {position:absolute; top:5px; right:15px; z-index:1;}
#frm-summary .admin #edit-photo .control-label {display:none;}
#frm-summary .admin #edit-photo .control-data {width:auto;}

#frm-summary .form-type-item {margin-bottom:0;}

#frm-summary  .checkbox {width:110px; font-size:85%;}
#frm-summary  .checkbox div {margin-top:2px;}
#frm-summary #edit-risks, #frm-summary #edit-adminable {margin-top:0px;}
#frm-summary  label[for="edit-risks"],
#frm-summary  label[for="edit-adminable"] {display:inline-block;}
#frm-summary .noEdit {margin-left:-7px; padding-left:7px; background-color:#e0e0ff;}
#frm-summary #edit-clickPhoto .control-data {font-size:78%; background-color:lightcyan; width:auto; border-radius:15px;}

/* Coupons */
#frm-coupons #edit-buttons a.btn {margin:0 100% 10px 0;}
#frm-coupons #edit-subtext li {margin-bottom:2px;}
#frm-coupons #edit-limit {max-width:50px; display:inline-block;}
#frm-coupons .form-item-on {display:none;}

/* Coupons List */
#frm-couponslist #edit-title {margin-bottom:0;}
#coupons th, #coupons td {text-align:center;}
#coupons span[data-toggle="popover"] {color:#2fa4e7;}

/* Find Company */
#frm-findco .row {display:table-row; max-width:700px;}
#frm-findco .well {padding:10px 35px;}
#frm-findco .cmpy-name {display:table-cell; width:auto; max-width:300px; overflow:hidden; color:darkblue;}
#frm-findco .cmpy-does {display:table-cell; width:auto; max-width:400px; overflow:hidden; padding-left:10px;}
.company-listing {color:red; font-weight:bold;}

/* Pay/Charge/Tx */

/* Pay With CG */
.page-pay-with-cg {width:100%; height:100%; background-color:#ccffff;}
.page-pay-with-cg #orgname {display:inline-block;}
.page-pay-with-cg #page-wrapper {max-width:440px; max-height:510px; margin:50px auto 0 auto; border:1px solid silver; border-top:0; box-shadow: 5px 5px 10px #888888; background-color:white; -webkit-border-radius: 15px; border-radius: 15px;}
.page-pay-with-cg .navbar {max-width:440px; margin:50px auto 0 auto;}
.page-pay-with-cg .navbar .container {margin:0 0 0 15px;}
.page-pay-with-cg #navbar,
.page-pay-with-cg .navbar-header button,
.page-pay-with-cg #main-menu button,
.page-pay-with-cg #footer-menu,
.page-pay-with-cg #footer-details,
.page-pay-with-cg .breadcrumb {display:none !important;}
.page-pay-with-cg #messages {margin:0 0 0 0; padding-bottom:0;}
.page-pay-with-cg #messages .messages {display block; width:100%; box-shadow:none; -webkit-border-radius:0; border-radius:0; margin-bottom:0; border:0;}

#frm-buy .control-label {width:100px; min-width:0; text-align:right;}
#frm-buy .control-data {width:70%;}
#frm-buy #edit-subtext {margin-bottom:0px;}
#frm-buy #edit-subtext h4 {margin:0;}
#frm-buy #edit-payment {vertical-align:top; margin-top:0px;}
#frm-buy #edit-payment .control-data label {display:none;}
#frm-buy #edit-payment .control-data .form-type-textfield {display:inline-block; max-width:50px; margin:0;}
#frm-buy #edit-amount {height:20px; padding:0 2px;}
#frm-buy #edit-account {width:210px;}
#frm-buy #edit-title .control-label {width:0;}
#frm-buy #edit-title .control-data {width:100%; text-align:center;}
#frm-buy .form-horizontal .form-group {margin-left:0; margin-right:0;}
#frm-buy .form-item-submit button {margin-right:5px;}

/* Agreement */
#frm-agreement #instructions {background:lightyellow;}
#frm-agreement .checkbox {display:inline-block; width:0; position:relative; left:-37px; top:5px; z-index:1;}
#frm-agreement #edit-agreement .control-label {max-width:8.3%; min-width:0; margin:0; padding:0;} 
#frm-agreement #edit-agreement .control-data {max-width:900px; width:80%;}
#frm-agreement #agreement ul,
#frm-agreement #agreement ol {margin-left:25px;}
#frm-agreement #agreement li {margin-top:10px;}
#frm-agreement.form-horizontal .checkbox {min-height:0;}

/* Bank Info */
#frm-connect #connectFields2 {margin:20px 0; background:silver; padding:10px;}
#frm-connect #connectFields2 .fieldset-wrapper {background:url(../images/check-hint.png) no-repeat right top; background-size:25%;}
#frm-connect #edit-checkHint {position:absolute; left:850px;}
#frm-connect #edit-checkHint img {width:300px;}
#frm-connect #connectFields2 .help-block {display:inline-block; color:black;}
#frm-connect #edit-routingnumber,
#frm-connect input#edit-bankAccount,
#frm-connect input#edit-bankAccount2 {width:250px;} 
#frm-connect .form-item-bankAccount .help-block span {background-color:yellow;}
#frm-connect #edit-remove {margin-left:10px;}
#frm-connect #edit-autopay > div.checkbox {display:block;}

/* Bank (Get) */
#frm-get #edit-get {margin-right:70px;}

/* TaxInfo 1099-B */
#f1099b td:first-child {width:60px;} /* date */
#f1099b td:first-child +td {min-width:75px;} /* amount */
#f1099b td:first-child +td+td {min-width:200px;} /* account */
#f1099b .num {text-align:right;}
#frm-taxinfo #edit-posttext p {font-size:12px;}
#frm-taxinfo #summary {width:auto;}
#frm-taxinfo #summary .count {text-align:center;}
#frm-taxinfo #summary .amount {text-align:right;}
#frm-taxinfo #taxes b {color:red;}
#frm-taxinfo small {color:#338333;}
#frm-taxinfo #edit-submit {display:none;}

/* Options (Preferences) */
/* #frm-options .form-item-payHow {border-top:1px solid darkgreen; padding-top:5px;} */
#frm-prefs #edit-posttext .control-data {font-size:80%; border-top:1px solid silver;}

/* Proxy */
/*#frm-proxy button {display:none;}*/
#frm-proxy .btn,
#frm-prox #edit-list .btn {margin:0px 2px 3px;}
#frm-proxy tr,
#frm-prox #edit-list tr {background-color:#dddddd;}

/* Login (Signin) */
#frm-signin #edit-tip label {font-weight:normal; width:100%; text-align:left;}
#frm-signin #edit-subtext em {font-style:normal; color:red;}

/* Company Info */
#frm-company fieldset#edit-help-block-format {background-color:lightblue; max-width:45em;}
#frm-company #permissions {display:inline-block;}
#frm-company #permissions table {width:auto;}
#frm-company #permissions td {text-align:center;}
#frm-company #permissions #perm-head td {background-color:white;}
#frm-company .form-item-description label {margin-right:15px;}
.filter-wrapper {
  /*margin:-15px auto 20px auto;*/
  max-width:500px; width:500px;
  top: 0;
  padding:0 10px;
  background-color:lightyellow;
  border:1px solid darkgreen;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-wrapper a {float:right; font-size:90%;}
.filter-wrapper li {font-size:90%; margin-left:-10px;}
.filter-wrapper .control-label {min-width:112px; padding:0 12px 0;}
@media (max-width:768px) {
  #frm-company .filter-wrapper {margin-left:15px;}
 .filter-wrapper .control-label {min-width:auto; width:auto;}
}

/* Profile (member web page) */
#frm-profile {font-family:Arial;}
#frm-profile #member-details {min-width:200px; font-weight:normal;}
#frm-profile #user-picture img {max-height:300px;}

/* Community and Money Data */
#frm-data .form-type-submit {margin-bottom:4px;}
#frm-data button {width:300px; text-align:left; background-image: linear-gradient(#fff, #ddd 60%, #ddd);}
/*linear-gradient(#fff, #fff 60%, #f5f5f5);*/
#frm-data #edit-subtext div {display:inline-block;}

/* Events */
#event-history td:last-child {width:120px;}

/* Event */
#frm-event .detail {font-size:14px; color:darkgreen;}
#frm-event .comment {font-size:14px; color:saddlebrown;}

/* Membership / Status */
/* #frm-membership #next-steps {width:500px; margin:-13px;} */
#frm-membership #edit-title {display:none;}
#frm-membership #edit-steps,
#frm-membership #edit-addendum {margin-left:3.2em;}
#frm-membership #edit-steps table {margin-top:-12px;}
#frm-membership #edit-steps h2 {color:darkblue; font-weight:bold;}
#frm-membership #edit-steps td {vertical-align:top; background-color:white; font-size:1.15em; padding:0;}
#frm-membership #edit-steps .done div {width:29px; height:39px; background-repeat:no-repeat; }
#frm-membership #edit-steps .done.state div {background-image:url(../images/NONE.gif);}
#frm-membership #edit-steps .done.state1 div {background-image:url(../images/checkmark.gif);}
#frm-membership #edit-steps .step div {font-size:0; width:38px; height:37px; margin-right:8px; margin-top:8px; background:url(../images/steps-green50.gif) no-repeat; background-position:99px 99px;}
#frm-membership #edit-steps .step0 div {background-image:url(../images/zero50.gif); background-position:0 0;}
#frm-membership #edit-steps .step1 div {background-position:left top;}
#frm-membership #edit-steps .step2 div {background-position:center top;}
#frm-membership #edit-steps .step3 div {background-position:right top;}
#frm-membership #edit-steps .step4 div {background-position:left center;}
#frm-membership #edit-steps .step5 div {background-position:center center;}
#frm-membership #edit-steps .step6 div {background-position:right center;}
#frm-membership #edit-steps .step7 div {background-position:left bottom;}
#frm-membership #edit-steps .step8 div {background-position:center bottom;}
#frm-membership #edit-steps .step9 div {background-position:right bottom;}
#frm-membership #edit-steps .text div {padding-top:18px; margin-left:0px;}
#frm-membership .pending {color:red;}
#frm-membership #edit-steps em {color:darkgreen; font-style:normal; font-weight:bold;}

/* Photo */
#frm-photo .btn-secondary {background-color:silver;}
#frm-photo #edit-progress .control-data {padding:0 0 20px 0; border-bottom:3px darkgreen double;}
#frm-photo #emailPhoto a {color:white;}
#frm-photo #photoUp {background-size:cover;}

#photoUp {
  position: relative;  /* MANDATORY */
  
  margin: 20px 0px;
  border: 3px solid black;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  border-radius: 2px;
  background-image: url(../images/icons/placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
//  box-shadow: 8px 8px 0px darkgray;
}
.cropControls {top:-35px;}
.cropControls i {
  display:block;
  float:left;
  margin:0;
  cursor:pointer;
  background-image:url('../images/icons/cropperIcons.png');	
  width:30px;
  height:30px;
  text-align:center;
  line-height:20px;
  color:#FFF;
  font-size:13px;
  font-weight: bold;
  font-style: normal;
}
.photoUp_imgUploadForm {display:none;}
.cropControlsUpload {display:none;}
#photoUp {width:300px; height:400px;}
#photoUp.co {width:400px; height:300px; background-image:url(../images/icons/placeholder-co.png);}
#choosePhotoWrap {width:300px; text-align:center;}
#choosePhotoWrap .co {width:400px;}
#choosePhoto {margin:0 auto;}
    
/* Standard Forms */
.form-local {margin:.1em .2em; padding:.2em; font-size:70%; color:darkgreen;}
.form-yes {color:green;}
.form-no {color:red;}

/* Admin */
.page-sadmin-panel #messages .status {background-image:none; margin:4px; padding:0px;}
.page-sadmin-panel #messages .status > ul {padding:0;}

/* Admin Deposits */
#frm-deposits .control-label {min-width:150px;} /* can't be more than 153px (dunno why) */
#frm-deposits .newout {margin-left:50px;}
#edit-deposits .control-label {width:50px;}
#frm-showdeposits a {display:none;}

/* Change Password / Reset / Verify (first time or resetting password) (beginning with stuff from user.css) */
.password-strength {width:200px; float:right;}
.password-strength-title {display:inline; font-size:11px; font-weight:bold; color:darkgreen;}
.password-strength-text {float:right; font-weight:bold; font-size:11px; margin-top:3px;}
.password-indicator {background-color:#C4C4C4; height:0.3em; width:100%;}
.password-indicator div {height:100%; width:0%; background-color:#47C965;}
input.password-confirm,
input.password-field,
#frm-verify #edit-verify,
#frm-changepassword #edit-pass {width:200px; margin-bottom:10px;}
div.password-confirm {float:right; margin-top:12px; visibility:hidden; font-size:11px;}
div.password-confirm .ok {font-weight:bold; color:green;}
div.password-confirm .error {font-weight:bold; color:red;}
#frm-changepassword .control-label,
#frm-resetpassword .control-label {min-width:184px;}
#frm-changepassword .control-data,
#frm-resetpassword  .control-data {width:450px;}
/* #edit-tip label {font-weight:normal; width:100%; text-align:left;} */
.password-suggestions.description {display:none !important; float:right; background-color:lightyellow; width:240px;}
#frm-changepassword #edit-subtext em {font-style:normal; color:red;}

/* Login (Signin) */
#frm-signin #edit-forgot {display:inline-block; margin:5px 0 0 15px;}

/* Signup (New account) */
#frm-signup  #edit-title {margin-bottom:0;}
#frm-signup  #edit-forother .control-data {padding-top:0; font-size:80%;}
#frm-signup  #companyInfo {top:0; margin:0 0 10px 0; padding:0 15px; border:1px solid darkgreen; background-color:lightyellow;}
#frm-signup .form-item-companyPhon label span {display:none;}
/* #frm-signup #edit-buysat .checkbox {width:150px;} */
#frm-signup .form-item-dob {margin-top:60px;}
.form-item-physical, .form-item-sameAddr2 {margin-top:30px;}
.form-item-physical>label, .form-item-sameAddr2>label {color:darkgreen; font-size:130%;}
#frm-signup .form-item-sponsor {display:none;}

/* Contact Info (labeled) */
#frm-contact .form-item-pin {display:none; margin-left:180px;}

/* Transactions History */
#frm-txs .virtual {color:LightSteelBlue; font-weight:normal;}
#frm-txs #edit-title .control-data {width:100%; max-width:100%; text-align:center;}
#frm-txs #edit-reports {text-align:right;}

#frm-txs #edit-downloadMsg .control-data {max-width:none; width:100%;}
#frm-txs #edit-downloadMsg .control-label,
#frm-txs #edit-transactions .control-label {display:none;}
#frm-txs #edit-transactions .control-data,
#frm-txs .form-type-checkboxes {margin-bottom:0;}
#frm-txs .form-type-checkbox {width:110px;}
#frm-txs .form-type-radios {border:0;}
#frm-txs .form-type-radio {display:inline-block;}
#frm-txs .form-item-starting {margin-bottom:0;}
#frm-txs input {max-width:110px;}
#frm-txs .form-submit:not([value="Update"]) {margin-left:10px; max-width:120px;}
#frm-txs .form-item-tx-period {margin-top:2em; display:inline-block;}
#frm-txs .txs-buttons div {display:inline-block; width:2em; text-align:center; vertical-align:middle;}
#frm-txs .txs-buttons div:first-child +div input {color:red; font-weight:bold;}
#frm-txs .form-item-opts-4,
#frm-txs .form-item-opts-5 {display:none;}

#frm-txs .tx-selector {width:1em;}
/* for IE; text-align in <col> should have no effect according to CSS 2.1 */ 
#frm-txs .tx-tid {width:5%; text-align:right;} /* 1 # */
#frm-txs .tx-date {width:7.5%; text-align:right;} /* 2 date */
#frm-txs .tx-fromyou {width:9.5%; text-align:right;} /* 4 from you */
#frm-txs .tx-toyou {width:9.5%; text-align:right;} /* 5 to you */
#frm-txs .tx-state {width:5%; text-align:right;} /* 6 status */
#frm-txs .tx-buttons {width:12%; text-align:right;} /* 7 buttons */
#frm-txs .tx-reward {width:7.5%; text-align:right;} /* 9 rewards */
#frm-txs .tx-net {width:0; display:none;} /* 10 net */

#frm-txs th,
#frm-txs td {text-align:right;}

/* #frm-txs th:first-child {text-align:right;} /* col 1: tid */
/* #frm-txs th:first-child +th {text-align:right;} /* col 2: date */
#frm-txs th:first-child +th+th {text-align:left;} /* col 3: name */
/* #frm-txs th:first-child +th+th+th {text-align:right;} /* col 4: amount */
/* #frm-txs th:first-child +th+th+th+th+th {text-align:right;} /* col 5: state */
/* #frm-txs th:first-child +th+th+th+th+th+th {text-align:right;} /* col 6: buttons */
/* #frm-txs th:first-child +th+th+th+th+th+th+th {text-align:right;} /* col 7: purpose */
#frm-txs th:first-child +th+th+th+th+th+th+th {text-align:right;} /* col 8: reward */
#frm-txs th:first-child +th+th+th+th+th+th+th+th {display:none;} /* col 9: net */

/* #frm-txs td:first-child {text-align:right;} /* col 1 */
/* #frm-txs td:first-child +td {text-align:right;} /* col 2 */
#frm-txs td:first-child +td+td {text-align:left;} /* col 3 */
/* #frm-txs td:first-child +td+td+td {text-align:right;} /* col 4 */
/* #frm-txs td:first-child +td+td+td+td {text-align:right;} /* col 5 */
/* #frm-txs td:first-child +td+td+td+td+td {text-align:right;} /* col 6 */
/* #frm-txs td:first-child +td+td+td+td+td+td {text-align:right;} /* col 7 */
#frm-txs td:first-child +td+td+td+td+td+td+td {text-align:right;} /* col 8 */
#frm-txs td:first-child +td+td+td+td+td+td+td+td {display:none;} /* col 9 */

#frm-txs #edit-transactions .control-data {margin:0 auto; width:100%; max-width:100%;}
#txlist {border:1px solid silver; padding:10px; width:100%; max-width:1024px; margin:10px auto; font-size:85%;}
#txlist-title {width:100%; margin-top:0px;}
#txlist div.row {margin-left:0; margin-right:0;}
#txlist .row >div {border-top:1px solid #d9d9d9; margin:0 auto;}
#txlist .row>div>div {padding-top:10px; padding-bottom:8px; min-height:35px;}

#txlist .tid-date, 
#txlist .name-purpose, 
#txlist .amount-reward {padding:0;}
#txlist .tid, #txlist .date {text-align:center;}
#txlist .tid {font-weight:bold;}
#txlist .amount, #txlist .reward {text-align:right;}

#txlist .row .buttons {padding:0 0 0 5px; border:0; min-width:30px; max-width:50px;}
#txlist .row .buttons div {max-width:50%;}
#txlist .buttons a.btn-xs {font-size:9px; margin:0;}
#txlist .buttons div {padding:0;}
#txlist .row div .reward {font-size:85%;}

#txlist .txRow {display:none;}
#txlist .txRow.head,
#txlist .txRow.page-0 {display:block;}

#txlist .row.head >div {border-bottom:0;}
#txlist .row.head>div>div {background:#757575; color:white; font-weight:bold; border-right:1px solid white;}
#txlist .row.head .buttons {color:white; background-color:white; border:0;}
#txlist .row.head .reward {font-size:100%;}
#txlist tr:hover {background-color:#aaffaa;}

#txs-links {margin-bottom:10px;}
#txs-links.row >div {border:0; padding:0;}
#txs-links span {padding-right:3px;}
#txs-links .nav, #txs-links .nav span {padding:0; text-align:right;}

/* Transaction Summary Table */
#txsum {padding-bottom:10px;}
#txsum tr.even td, #txsum tr.odd td {background-color:white;}
/* #txsum td {text-align:right !important; border:0px;} */
#txsum tr#txsum-dates {background:none; line-height:.9; border:0px;}
#txsum tr#txsum-headers {font-weight:bold; background:none; border-bottom:1px solid black;}
#frm-txs #txsum th, #frm-txs #txsum td {display:table-cell;}
/*one tosign toyou fromsign fromyou rewardssign rewards balancesign balance*/
/* .txsum-one, .txsum-balance {width:120px;} */
.txsum-banksign, .txsum-tosign, .txsum-fromsign, .txsum-feessign, .txsum-rewardssign, .txsum-sharesign, .txsum-balancesign {min-width:1em;}
.txsum-bank, .txsum-toyou, .txsum-fromyou, .txsum-fees, .txsum-share, .txsum-rewards {min-width:7em;}

/* #txsum {border:1px solid black; position:absolute; z-index:1; left:0; right:0; width:500px; margin:auto auto; top:0; bottom:0} */
/* #txsum caption {background-color:darkgreen; color:white; margin:0 auto; padding:5px 0;} */
#txs-totals .modal-dialog {width:455px;}
#txs-totals .modal-body {padding:3px;}

#txsum caption {display:none;}
#txsum tr:first-child {font-weight:bold;}
#txsum tr:last-child td:first-child +td+td,
#txsum tr:last-child td:first-child +td+td+td+td {border-top:2px solid silver;} /* 1px fails in Chrome */
#frm-txs #txsum tr td {text-align:right; border-left:1px solid silver;}
#frm-txs #txsum tr td:first-child {text-align:left; font-weight:bold; background-color:#757575; color:white;}
#frm-txs #txsum tr td:last-child {text-align:left;}

/* Invoices */
#frm-invoices .form-item-states2 {display:none;} /* disabled until invoices are more used */
#frm-invoices #edit-list .control-label,
#frm-invoices #edit-title .control-label {display:none;}
#frm-invoices #edit-list .control-data {width:100%; max-width:100%; text-align:center;}
#frm-invoices #edit-title {margin-bottom:0;}
#frm-invoices #edit-subtext label {display:none;}
#frm-invoices .txs-buttons div {display:inline-block;}
#frm-invoices .txs-buttons a {margin-right:5px;}

/* Handle Invoice */
#frm-handleinvoice #denySet {display:none;}

/* Statements / Notices */
#statements th, #statements td,
#notices th, #notices td {text-align:left; vertical-align:top; border:1px solid silver;}
.notice-date {vertical-align:top; margin-right:5px;}

/* Deposits */
/* #frm-deposits {margin-left:50px;} */
#frm-deposits fieldset {width:290px; display:inline-block;}
#frm-deposits .form-item-reprint label {text-align:right;}
#frm-deposits  #deposits {width:auto; display:inline-block;}
#frm-deposits  #deposits td {text-align:right;}
#frm-deposits  #deposits td:first-child {text-align:left;}
#frm-deposits  #edit-count {margin-bottom:3px;}

/* Donate */
#frm-donate .form-item-wait {margin-top:30px;}
#frm-donate #edit-gift {font-family:"Lucida Console",Menlo,Monaco,"Courier New",monospace;}
#frm-donate .form-item-share .control-data {max-width:650px;}
#frm-donate .form-item-share input {max-width:100px;}

/* Community Funds */
#cttyFunds {width:100%;}
#cttyFunds td {text-align:right;}
#cttyFunds td:first-child {text-align:left;}

/* Reports (Community Statistics/Graphs) */
#frm-graphs {clear:both;}
#frm-graphs .control-label {display:none;}
#frm-graphs .form-type-item {margin-top:15px; margin-bottom:0;}
#frm-graphs .description {clear:none;}
#frm-graphs #edit-charts div, #frm-graphs iframe {float:left;}
#frm-graphs #edit-title {margin-bottom:0; font-weight:bold;}
/* #frm-graphs #edit-subheader {margin-top:0px; margin-bottom:35px; font-size:110%;}  */
#frm-graphs #edit-subtext {margin-left:0;} 
#frm-graphs #edit-subtext em {font-weight:bold; font-style:normal; color:darkred;}

/* Relation form */
/*#frm-relations #edit-subtext label {width:450px;}*/
#frm-relations #edit-list,
#frm-relations #edit-list .control-data,
#relations {width:100%; max-width:100%;}
#frm-relations #edit-list .control-label {display:none;}
#frm-relations .form-type-submit {display:inline-block; width:400px;}
#frm-relations .form-type-submit label {display:none;}
#frm-relations #edit-go {margin-left:212px;}
#frm-relations #edit-nextStep {margin-left:50px;}

#frm-relations .form-item-new-person {display:inline-block;}
#frm-relations .form-item-newPerson label {margin-left:2px; padding-left:0;}
#frm-relations .form-type-select {margin:0;}
#frm-relations select {padding:0; height:24px; font-size:12px;}
#frm-relations .form-type-select label,
.form-yes a, .form-no a {transform:scale(.7);}
#frm-relations #account-label {font-weight:bold;}
#frm-relations .amount {width:50px;}
/*#frm-relations {max-width:800px;} */
#frm-relations .rel-person {width:auto;}
#frm-relations .rel-draw {width:68px;}
#frm-relations .rel-employee {width:120px;}
#frm-relations .rel-owner {width:68px;}
#frm-relations .rel-permission {width:18%;}
#frm-relations .rel-link {width:auto;}
#frm-relations .highlight input {background-image:url(../images/icons/buttons-highlight.png);}

/* typeahead */
.twitter-typeahead {width:100%;}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 6px 0;
  padding: 8px 0;
  background-color: #e5ffe5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.test-highlight {background-color:yellow;}
.test-normal {background-color:ivory;}
.test-expect {background-color:cyan;}
.test-email {background-color:lightblue;}
.test-input {background-color:orange;}
.test-output {background-color:thistle;}
.test-screen {background-color:burlywood;}
.test-error {background-color:salmon;}
.test-doublesize {font-size:200%;}
.test-success {background-color:lightgreen;}
.test-fail {background-color:yellow;}
.test-report-ok {color:lightgreen; font-size:250%;}
.test-report-no {color:red; font-size:250%;}
.test-next {font-size:20px;}
.test-pass {background-color:darkkhaki;}
.test-divlink {font-size:120%; margin:0 0 0 0;}
.test-hdr {margin:18px 0 -18px 0;}

.state-ok {color:green;}
.state-disputed {color:red;}

.drupal-fixed {position:fixed; top:10px;}
.veto {color:red;}
.not-veto {color:green;}
.dim {color:silver;}
.blockish {display:block;}

.outgoing {color:red;}

.abc {list-style-type:lower-alpha;}
.roman {list-style-type:lower-roman;}

.memberlist-line2 {font-size:70%; font-weight:normal; padding-left:20px;}
.memberlist-bits {color:darkgreen;}
.memberlist-notes {color:blue; font-size:130%;}

.fu-whitey {color:white;}
.fu-zap {background-color:red;}
.fu-pre {background-color:orange;}
.fu-setup {background-color:yellow;}
.fu-fu {background-color:black;}
.fu-welcome {background-color:lime;}
.fu-annual {background-color:violet;}
.fu-dormant {background-color:silver;}

.err {color:red; font-weight:bold;}
.format-flags {text-transform:none; font-size:7px; line-height:11px;}
.date-field {line-height:65%;}
.year-field {font-size:50%;}

.step-done {color:silver;}
.step-not-done {color:red;}

.crop-button {color:lightgreen; background-color:darkgray;}

.grant-td {padding:5px;}
.grant-th {width:50%; text-align:left; padding:5px;}