/* CSS specific to rCredits members site */

@keyframes puff {
    from {opacity:0; font-size:0%;}
    to {opacity:1; font-size:100%;}
}

@font-face {
    font-family: "GnuMICR";
    src: url(GnuMICR.ttf) format("truetype");
}

.smallish {font-size:85%;}
.skip {margin-left:10px;}

@media (min-width: 768px) { /* same as cg.css, but lower threshold (since no "Common Good" and no signin) */
  .nav2 {left:0;}
  .navbar .form-group {display:none;}
  .nav2 .nav2-inner {margin-right:10px;} 
  #signin input {width:140px;}
  .nav2 .form-group {display:inline-block;}
  .nav {padding-top:0;}  
  .navbar .container {width:auto;} /* cancel bootstrap's confinement */
}

.alignR {text-align:right;}
.alignC {text-align:center;}
.alignL {text-align:left;}

.btn-slight {background-color:wheat;}
.gone, .element-invisible {display:none;}
.invisible {visibility:hidden;}
.table {display:table;}
.boxes .row > div {display:table-cell; padding:0 0 5px 17px; vertical-align:top;}
label.submenu {display:none;}

#edit-progress {padding-left:15px;}
#edit-progress b {font-size:200%; color:darkred;}

.prevPage {visibility:hidden;}

.vertical{
/*    writing-mode:tb-rl; */
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
}

@mixin vcenter($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* .element p {
  @include vertical-align();
} */

#navbar {max-height:none;}

#navbar, #navbar.colapse.in {overflow-y:visible;}

a.list-group-item:hover {background-color:#b4dcfe;} /* for non-dropdown menus */

.popmenu {display:none;}
.submenu .popover {min-width:230px;}
.submenu .popover h4 {font-size:14px;}
.submenu .popover-content {padding:0;}
.submenu .popover .arrow:after {border-bottom-color:#044687;}
.submenu a.list-group-item {border-width:0 0 1px 0;}
.submenu a.list-group-item:hover {background-color:#022f5a;}
.submenu a.list-group-item:last-child {border:0;}
.submenu a.list-group-item,
.submenu .list-group-item-heading {color:white !important; font-weight:normal; background:transparent;}
/*nav.navbar.navbar-inverse .container {max-height:50px;}*/
nav.navbar.navbar-inverse .container {max-height:50px;}
#navbar, .submenu .popover {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border-bottom: 1px solid #022241;
}
@media (max-width:768px) {
  #navbar {padding-right:0; position:fixed; z-index:10001; top:50px; right:0; left:auto; margin:0;}
  .navbar-inverse .navbar-nav > li > a,
  .submenu a.list-group-item {background-color:#044687;} /* here, not on #navbar, for android */
  .nav {padding-top:0;}
  .submenu .popover .arrow:after {border-left-color:#044687; border-bottom-color:transparent;}
  #edit-title .control-label {display:none;}
  #edit-title {width:100%; background-color:silver; position:fixed; z-index:2; left:0; top:50px; margin:0 !important; text-align:center;}
  #edit-title .control-data {width:100%; max-width:100% !important; padding:0 2px;}
  #edit-title h3 {margin:10px 0 10px 0;}
  .breadcrumb {display:none;}
  #main {margin-top:50px !important;}
}

#page-wrapper {width:100%; max-width:100; background-color:white;} /* not max-width:961px */
#header {height:60px;}
#main #content {width:100%; float:none; margin:0;}
#edit-all {margin:0; padding:0;}
textarea.form-control {height:100px;}
#rcreditswebformphp .form-type-textarea { margin-top:40px;}
#rcreditswebformphp textarea {height:500px;}
#rcreditswebformphp #edit-res {margin-top:20px;}
#rcreditswebformphp #edit-res label,
.page-sadmin-php .breadcrumb {display:none;}

.control-label {min-width:184px;}
.control-data {max-width:650px;}
#rcreditswebformcontact .control-data,
#rcreditswebformtx .control-data,
#rcreditswebformdonate .control-data {max-width:450px;}
#edit-subtext .control-data {max-width:650px;}

.form-vertical .control-label {width:100%; padding-left:15px; text-align:left;}
.form-vertical .control-data {width:100%;}
.form-vertical .ladda-button {margin-left:0;}

@media (max-width:768px) {
  .control-label {width:100%; padding-left:15px; text-align:left;}
  .control-data {width:100%; padding-top:0 !important;}
  .ladda-button {margin-left:0;}
  .control-label[for="agreement"],
  #rcreditswebformhelp .control-label {display:none !important;}
  #edit-agreement .control-data,
  #rcreditswebformhelp .control-data {width:100% !important;}
}

#which option:hover {background-color:#7CC6F0;}
.ladda-spinner:focus {} /* dunno why this has a rounded blue border when it has the focus */

.lineup {padding-top:9px;}

table {font-size:85%;}
th {background: #757575; color:white; border-bottom-style: none;}
tbody th {vertical-align: top;}
td, th {padding: 4px 9px; border: 1px solid #fff; text-align: left;}
.even {background: #e6ffe6;}
.odd {background: #ccffcc;}

.form-checkboxes div, .form-checkboxes {display:inline-block;}
/*.form-horizontal  .form-checkboxes input { */
/* .form-horizontal .box1 .checkbox {padding-top:0;} */
.box1 .checkbox, .form-horizontal .checkbox {padding-top:0;}
.form-horizontal .radio, .form-horizontal .radio-inline {margin-left:0; margin-right:15px;}

#rcreditswebformcommunity,
#rcreditswebformhistory,
#rcreditswebformsettings,
#rcreditswebformadmin {max-width:280px; margin:0 auto;}
#rcreditswebformadminpanel button {margin:0 10px 20px 0;}

.confirmation #edit-title .control-label {display:block !important;}
/*.confirmation #actions .form-type-submit {display:inline-block; width:180px;}*/
.confirmation #edit-confirm {margin-right:70px;}

fieldset {-webkit-margin-start:0; -webkit-margin-end:0; -webkit-padding-before:0; -webkit-padding-start:0; -webkit-padding-end:0; -webkit-padding-after:0;}
/* input {-webkit-appearance:none;} /* prevent iPhone and Mac from using their standard non-standard buttons */
legend {-webkit-padding-start: 2px; -webkit-padding-end: 2px;}
.loud {background-color:yellow;}
/*
select {font-size:.85em;}
label.option {font-weight:bold;}
*/
a.buttino {font-size:70%; display:inline-block; background-color:lightgray; border:solid 1px darkgray; -webkit-border-radius: 5px; border-radius: 5px; padding:0 5px;}

.goodRisk {color:green;}
.badRisk {color:orange;}
.tagged {color:red;}
.subdue {color:silver;}
.cgc {color:red;}

/* basic */
/* #header {height:50px;} */
.region-content {margin-top:0px;}
#extras {margin:3px 8px 0 0;}
#extras .photo {width:34px; height:44px; padding:0;}
#extras .photo.co {width:57px;}
#extras button {-webkit-appearance:none; border:1px solid silver;} /* keep Safari from making it oval & squeezed */
#extras img {height:100%; width:100%;}
.not-logged-in #extras {display:none;}

/* nav */
.tabs {display:none;}

#edit-acct-account {display:none; position:absolute; z-index:5; top:49px; width:100%;}
#edit-acct-account.collapse.in {display:block;}
#edit-acct-account .index-detail {display:none; position:absolute; left:0; top:30px; width:100%; height:315px; background-color:lightgray; border:2px solid darkred; font-size:11px;}
#edit-acct-account .index-detail div {display:inline-block; width:185px; margin-bottom:15px;}
#edit-acct-account .index-detail a {background-color:white; padding:2px 0 2px 5px; margin:1px 3px; width:173px; height:19px; overflow:hidden; display:inline-block; white-space:nowrap;}
#edit-acct-account .index-detail a small {font-size:70%;}
#edit-acct-account ul {float:right; background-color:green; color:silver; list-style-type:none; padding:0 5px;}
#edit-acct-account ul a {color:white;}
#edit-acct-account ul a:hover {text-decoration:none; color:lightblue;}
#edit-acct-account a {color:silver;}
#edit-acct-account a.ok {background-color:lightgreen; color:black;}
#edit-acct-account a.co {background-color:yellow;}
#edit-acct-account a.closed {background-color:black; color:silver;}
#index a {color:black;}
#index {float:right; z-index:6; background-color:silver; padding:3px 0;}
#index a {display:inline-block; color:darkred; padding:0px 7px 0px 7px;}

#simple, #advanced {width:400px; margin:0 auto;}
#dateRange {width:400px; margin:0 auto; display:none;}
#advanced {display:none;}
#simple .control-data, #advanced  .control-data {width:200px; padding:5px;}
#simple select, #advanced input {font-size:80%; height:50%;}
#simple .control-label, #advanced .control-label {width:105px; min-width:105px;}
#edit-show, #edit-download, #showSimple, #showAdvanced {margin:0 0 0 5px;}
/* .form-horizontal .form-item-period {display:inline-block; clear:none; margin-right:0;} */
.form-item-period {display:inline-block; clear:none; margin-right:0;}
#actionsSimple,
#actionsAdvanced {display:inline-block;}

#messages {
  display:inline-block; padding:0px 0 5px 0; width:100%; margin:0 5px; text-align:center;
  -webkit-animation: puff .5s linear; /* Chrome, Safari, Opera */
  animation: puff .5s linear;  
}
.page-sadmin #messages {margin:0;}
#messages .messages {display:inline-block; max-width:800px; text-align:left; margin:28px auto 10px 0; background-position:8px; background-repeat:no-repeat; border:1px solid; padding:10px 10px 10px 40px;
  border-radius:8px; -moz-border-
  :8px; -webkit-border-radius:8px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.7);
}
.page-sadmin #messages .messages {max-width:100%;}

#messages .error {background-color:#fef5f1; color:#8c2e0b; border-color:#ed541d; background-image:url(../images/icons/message-24-error.png);}
#messages .status {background-color:#f8fff0; color:#234600; border-color:#be7; background-image:url(../images/icons/message-24-ok.png);}
#messages .stopnot {font-weight:bold; font-size:200%; color:red;}  
#messages .nextstep,
.page-account #completed,
.page-status #completed {font-weight:bold; font-size:200%; color:green;}
#messages ul {list-style-type:none;}

@media (max-width:768px) {
  #messages .messages {margin-bottom:0px;}
}

div#shout {position:absolute; z-level:2; left:300px; top:100px; background-color:yellow; color:darkgreen; font-size:500%;}
#site-name {visibility:hidden;}

#main-menu-links  {display:none;}
#secondary-menu {display:none; padding-bottom:0;}
#sidebar-first {width:0; display:none;}
.sidebar-first #content {float:none;}
.not-logged-in #sidebar-first .section {padding:0px;} */
.not-logged-in #block-user-login {padding:0px; padding-left:12px; margin-bottom:0px;}

#nosignin .messages #subtext {margin:10px 0 0 0; font-size:80%; color:darkgray;}
#nosignin div.status {margin:20px; padding:10px; background-image:none;} 

#main {margin:10px 0 12px 0;}
body.logged-in.one-sidebar #content {width:100%;}
#main .section {margin-left:10px; padding:0 12px;}
#page-title {display: none;}

.r {font-weight:bold; color:green;}
.us {font-weight:normal; color:blue;}

/* Footer */
#footer, #footer label {text-align:center;}
#edit-footerText .control-label {display:none;}

/* Accounts Selector */
#accounts {position:absolute; left:0; top:0; width:100%;}
#accounts .region-accounts {float:right; margin-right:0px; width:100%;}
/* #accounts .content, #accounts .form-item-acct-account {margin:0; padding:0;} */
#accounts .form-type-textfield, #accounts .form-type-select,
#accounts #edit-signin {float:right; margin-right:20px;}
#accounts #edit-signin a {color:white;}
#accounts #edit-acct-settings {float:right;}
#accounts img {height:24px;}
#accounts #edit-acct-settings div {width:20px; height:20px; background-image:url(../images/icons/gear-white.png); background-size:20px 20px; margin:3px 5px 0 5px;}
#accounts #edit-acct-icon {float:right; margin:0 5px 0 0;} 
#accounts #edit-acct-icon img {height:24px; border:1px solid white;}
/*#accounts #edit-acct-account {float:right; padding:0 2px; width:auto; height:27px; margin:0; font-size:100%; border:0; background-color:white;} */
#rcreditswebformaccounts #edit-acct-submit {display:none;} /* Drupal requires unused button to be there, so make it invisible */
#edit-acct-showmenu, #edit-acct-showhelp {display:none;}

/* Multiple Forms */
#edit-period, #edit-starting, #edit-ending {display:inline-block; width:150px;}
#simple button, #advanced button {display:inline-block;}
#edit-showSimple, #edit-showAdvanced {display:inline-block; padding-left:35px;}

/* Empty */
#rcreditswebformempty #edit-title {display:none;}
.page-empty div.status  {margin:20px; padding:10px; background-image:none;} 
.page-empty div.error {margin:20px;} 

/* Verify */
#rcreditswebformverify #edit-verify {display:inline-block;}

/* Security */
#rcreditswebformsecurity #edit-change a {margin-right:10px;}

/* Grant */
#rcreditswebformgrant li {margin-bottom:10px;}
#rcreditswebformgrant .inline {display:inline; max-width:100px;}
#rcreditswebformgrant #edit-getPartners {max-width:250px;}
#rcreditswebformgrant #edit-getOther {max-width:500px;}
#rcreditswebformgrant #edit-sayWhat {max-width:300px;}

/* Invite */
#inviteLink {border:1px solid silver; background-color:lightyellow; color:silver;}

/* Export */
.form-item-chimpSet, .form-item-chimpSet>.control-label {display:none;}

/* Democracy */
body.page-prox-pagedemocracydograde #edit-title {margin-bottom:0;}
#rcreditswebformdemocracy #edit-title .control-data {padding-left:0;}

/* Funding Proposal */
#rcreditswebformproposal #edit-subtitle .table {margin-left:25px;}
#rcreditswebformproposal #edit-subtitle .row {display:table-row; margin:0;}
#rcreditswebformproposal #edit-subtitle .row div {display:table-cell; width:230px;}

#critChart  .row {margin:10px;}
#critChart .row div {display:table-cell}
#critChart .row div:first-child {width:50px; font-weight:bold; text-align:center;}

/* Flags (AML Risks) */
#rcreditswebformflags .risky {font-weight:bold; color:red;}
#rcreditswebformflags .safe {font-weight:bold; color:green;}
#rcreditswebformflags th, #rcreditswebformflags td {text-align:center;}
#rcreditswebformflags .k-risks {text-align:left;}
#rcreditswebformflags .k-amount, #rcreditswebformflags .k-score {text-align:right;}
#rcreditswebformflags .k-created {min-width:60px;}

/* Notifications */
#rcreditswebformnotifications .header .vertical {font-weight:bold; margin:35px 0 20px -10px;}

/* Ctty Funds */
#rcreditswebformcttyfunds .usd {background-color:darkgreen;}
#rcreditswebformcttyfunds .reward {background-color:darkred;}
#rcreditswebformcttyfunds .ctty {background-color:darkblue;}
#rcreditswebformcttyfunds label {display:none;}

/* Admin Followup Calls */
#rcreditswebformfollowup label {display:none;}
#rcreditswebformfollowup #memberlist th:first-child +th {width:85px;}
#rcreditswebformfollowup #memberlist th:first-child +th +th {width:170px;}
#rcreditswebformfollowup #memberlist th:first-child +th +th +th {width:95px;}

/* Member List */
#memberlist .name a {font-weight:bold;}
#memberlist .co a {color:darkred;}

/* Help */
#rcreditswebformhelp em {font-style:normal; font-weight:bold; color:dimgray;}
#rcreditswebformhelp .control-label {width:10%; max-width:100px; min-width:0;}
#rcreditswebformhelp .control-data {width:80%; max-width:1500px; min-width:0;}
/*#rcreditswebformhelp #edit-text .control-label {display:none;}*/
/*#help-link label {width:10em; font-size:.8em; float:right; text-align:left; padding-left:2em; background-image:url(../images/icons/question-mark.gif); background-repeat:no-repeat;} */
#rcreditswebformhelp #edit-title {font-weight:normal;}
/*#rcreditswebformhelp #edit-text {font-size:85%;}*/
#rcreditswebformhelp h2 {font-weight:normal; color:darkblue;}
#rcreditswebformhelp b {color:darkgreen;}
#rcreditswebformhelp i {color:darkblue;}
#rcreditswebformhelp .onechart {float:right; max-width:50%;} /* for charts */
#rcreditswebformhelp .p2p {color:orange;}
#rcreditswebformhelp .p2b {color:green;}
#rcreditswebformhelp .b2b {color:blue;}
#rcreditswebformhelp .b2p {color:red;}
#rcreditswebformhelp .in {color:green;}
#rcreditswebformhelp .out {color:orange;}
#rcreditswebformhelp ol {margin-left:20px;}
#risk-help .goodRisk, #risk-help .badRisk, #risk-help .tagged {font-weight:bold;}
#risk-help td {vertical-align:top;}
#risk-help .weight {text-align:center;}
#rcreditswebformhelp #bit-help td:first-child {color:darkgreen; font-weight:bold;}
#taxes th, #taxes td {text-align:center;}
#taxes th:first-child,
#taxes td:first-child {font-weight:bold; text-align:left;}
#rcreditswebformhelp #special-flag {font-size:100%; margin-bottom:20px;}

/* Summary / Member Info / Account Info */
#rcreditswebformsummary .form-item-left {float:left; width:50%;}
#rcreditswebformsummary .form-item-right {float:right; width:50%;}
#rcreditswebformsummary .form-item-right>label,
#rcreditswebformsummary .form-item-left>label {display:none;}
#rcreditswebformsummary .form-item-right .control-data,
#rcreditswebformsummary .form-item-left .control-data {width:auto;}
#rcreditswebformsummary .admin label {min-width:100px;}
#rcreditswebformsummary .admin .control-data {width:auto; max-width:380px;}
#rcreditswebformsummary .admin textarea {width:380px;}
#rcreditswebformsummary .admin .form-checkboxes {width:380px;}
#rcreditswebformsummary #edit-notes .control-data {width:380px; max-height:150px; overflow-x:hidden; overflow-y:scroll; overflow-wrap:break-word}
#rcreditswebformsummary #edit-tickle {max-width:120px; display:inline-block;}
#rcreditswebformsummary #edit-photo img {max-width:100px;}
#rcreditswebformsummary #edit-creditlimit .help-block,
#rcreditswebformsummary #edit-committed .help-block,
#rcreditswebformsummary #edit-balance .help-block,
#rcreditswebformsummary #edit-rewards .help-block {display:inline-block; margin:0;}
#rcreditswebformsummary #edit-topButtons a {margin-right:10px;}

#rcreditswebformsummary .form-type-item {margin-bottom:0;}

#rcreditswebformsummary  .checkbox {width:110px; font-size:85%;}
#rcreditswebformsummary  .checkbox div {margin-top:2px;}
#rcreditswebformsummary #edit-risks, #rcreditswebformsummary #edit-adminable {margin-top:0px;}
#rcreditswebformsummary  label[for="edit-risks"],
#rcreditswebformsummary  label[for="edit-adminable"] {display:inline-block;}
#rcreditswebformsummary .noEdit {margin-left:-7px; padding-left:7px; background-color:#e0e0ff;}
#rcreditswebformsummary #edit-clickPhoto .control-data {font-size:78%; background-color:lightcyan; width:auto; border-radius:15px;}

/* Pay/Charge/Tx */

/* Agreement */
#rcreditswebformagreement #instructions {background:lightyellow;}
#rcreditswebformagreement  .checkbox {display:inline-block; padding-right:10px;}
#rcreditswebformagreement  .checkbox  input {position:relative; left:0; top:2px;}
#rcreditswebformagreement #edit-agreement .control-label {max-width:8.3%; min-width:0; margin:0; padding:0;} 
#rcreditswebformagreement #edit-agreement .control-data {max-width:900px; width:80%;}
#rcreditswebformagreement #agreement ul,
#rcreditswebformagreement #agreement ol {margin-left:25px;}
#rcreditswebformagreement #agreement li {margin-top:10px;}
#rcreditswebformagreement.form-horizontal .checkbox {min-height:0;}

/* Bank Info */
#rcreditswebformbankinfo #connectFields2 {margin:20px 0; background:silver; padding:10px;}
#rcreditswebformbankinfo #connectFields2 .fieldset-wrapper {background:url(../images/check-hint.png) no-repeat right top; background-size:25%;}
#rcreditswebformbankinfo #edit-checkHint {position:absolute; left:850px;}
#rcreditswebformbankinfo #edit-checkHint img {width:300px;}
#rcreditswebformbankinfo #connectFields2 .help-block {display:inline-block; color:black;}
#rcreditswebformbankinfo #edit-routingnumber,
#rcreditswebformbankinfo input#edit-bankAccount,
#rcreditswebformbankinfo input#edit-bankAccount2 {width:250px;} 
#rcreditswebformbankinfo .form-item-bankAccount .help-block span {background-color:yellow;}
#rcreditswebformbankinfo #edit-remove {margin-left:10px;}

/* Bank (Get) */
#rcreditswebformget #edit-get {margin-right:70px;}

/* TaxInfo 1099-B */
#f1099b td:first-child {width:60px;} /* date */
#f1099b td:first-child +td {min-width:75px;} /* amount */
#f1099b td:first-child +td+td {min-width:200px;} /* account */
#f1099b .num {text-align:right;}
#rcreditswebformtaxinfo #edit-posttext p {font-size:12px; line-height:8px;}
#rcreditswebformtaxinfo #summary {width:auto;}
#rcreditswebformtaxinfo #summary .count {text-align:center;}
#rcreditswebformtaxinfo #summary .amount {text-align:right;}
#rcreditswebformtaxinfo #taxes b {color:red;}
#rcreditswebformtaxinfo small {color:#338333;}

/* Options (Preferences) */
/* #rcreditswebformoptions .form-item-payHow {border-top:1px solid darkgreen; padding-top:5px;} */
#rcreditswebformprefs #edit-posttext .control-data {font-size:80%; border-top:1px solid silver;}

/* Proxy */
/*#rcreditswebformproxy button {display:none;}*/
#rcreditswebformproxy .btn,
#rcreditswebformprox #edit-list .btn {margin:0px 2px 3px;}
#rcreditswebformproxy tr,
#rcreditswebformprox #edit-list tr {background-color:#dddddd;}

/* Login (Signin) */
#rcreditswebformsignin #edit-tip label {font-weight:normal; width:100%; text-align:left;}
#rcreditswebformsignin #edit-subtext em {font-style:normal; color:red;}

/* Company Info */
#rcreditswebformcompany fieldset#edit-help-block-format {background-color:lightblue; max-width:45em;}
#rcreditswebformcompany #permissions {display:inline-block;}
#rcreditswebformcompany #permissions table {width:auto;}
#rcreditswebformcompany #permissions td {text-align:center;}
#rcreditswebformcompany #permissions #perm-head td {background-color:white;}
#rcreditswebformcompany .form-item-description label {margin-right:15px;}
.filter-wrapper {
  /*margin:-15px auto 20px auto;*/
  max-width:500px; width:500px;
  top: 0;
  padding:0 10px;
  background-color:lightyellow;
  border:1px solid darkgreen;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-wrapper a {float:right; font-size:90%;}
.filter-wrapper li {font-size:90%; margin-left:-10px;}
.filter-wrapper .control-label {min-width:112px; padding:0 12px 0;}
@media (max-width:768px) {
  #rcreditswebformcompany .filter-wrapper {margin-left:15px;}
 .filter-wrapper .control-label {min-width:auto; width:auto;}
}

/* Profile (member web page) */
#rcreditswebformprofile {font-family:Arial;}
#rcreditswebformprofile #member-details {min-width:200px; font-weight:normal;}
#rcreditswebformprofile #user-picture img {max-height:300px;}

/* Community and Money Data */
#rcreditswebformdata .form-type-submit {margin-bottom:4px;}
#rcreditswebformdata button {width:300px; text-align:left; background-image: linear-gradient(#fff, #ddd 60%, #ddd);}
/*linear-gradient(#fff, #fff 60%, #f5f5f5);*/
#rcreditswebformdata #edit-subtext div {display:inline-block;}

/* Event */
#rcreditswebformevent .detail {font-size:14px; color:darkgreen;}
#rcreditswebformevent .comment {font-size:14px; color:saddlebrown;}

/* Membership / Status */
/* #rcreditswebformmembership #next-steps {width:500px; margin:-13px;} */
#rcreditswebformmembership #edit-title {display:none;}
#rcreditswebformmembership #edit-steps,
#rcreditswebformmembership #edit-addendum {margin-left:3.2em;}
#rcreditswebformmembership #edit-steps table {margin-top:-12px;}
#rcreditswebformmembership #edit-steps h2 {color:darkblue; font-weight:bold;}
#rcreditswebformmembership #edit-steps td {vertical-align:top; background-color:white; font-size:1.15em; padding:0;}
#rcreditswebformmembership #edit-steps .done div {width:29px; height:39px; background-repeat:no-repeat; }
#rcreditswebformmembership #edit-steps .done.state div {background-image:url(../images/NONE.gif);}
#rcreditswebformmembership #edit-steps .done.state1 div {background-image:url(../images/checkmark.gif);}
#rcreditswebformmembership #edit-steps .step div {font-size:0; width:38px; height:37px; margin-right:8px; margin-top:8px; background:url(../images/steps-green50.gif) no-repeat; background-position:99px 99px;}
#rcreditswebformmembership #edit-steps .step0 div {background-image:url(../images/zero50.gif); background-position:0 0;}
#rcreditswebformmembership #edit-steps .step1 div {background-position:left top;}
#rcreditswebformmembership #edit-steps .step2 div {background-position:center top;}
#rcreditswebformmembership #edit-steps .step3 div {background-position:right top;}
#rcreditswebformmembership #edit-steps .step4 div {background-position:left center;}
#rcreditswebformmembership #edit-steps .step5 div {background-position:center center;}
#rcreditswebformmembership #edit-steps .step6 div {background-position:right center;}
#rcreditswebformmembership #edit-steps .step7 div {background-position:left bottom;}
#rcreditswebformmembership #edit-steps .step8 div {background-position:center bottom;}
#rcreditswebformmembership #edit-steps .step9 div {background-position:right bottom;}
#rcreditswebformmembership #edit-steps .text div {padding-top:18px; margin-left:0px;}
#rcreditswebformmembership .pending {color:red;}
#rcreditswebformmembership #edit-steps em {color:darkgreen; font-style:normal; font-weight:bold;}

/* Photo */
#rcreditswebformphoto .btn-secondary {background-color:silver;}
#rcreditswebformphoto #edit-progress .control-data {padding:0 0 20px 0; border-bottom:3px darkgreen double;}

#photoUp {
  position: relative;  /* MANDATORY */
  
  margin: 20px 0px;
  border: 3px solid black;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  border-radius: 2px;
  background-image: url(../images/icons/placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
//  box-shadow: 8px 8px 0px darkgray;
}
.cropControls {top:-35px;}
.cropControls i {
  display:block;
  float:left;
  margin:0;
  cursor:pointer;
  background-image:url('../images/icons/cropperIcons.png');	
  width:30px;
  height:30px;
  text-align:center;
  line-height:20px;
  color:#FFF;
  font-size:13px;
  font-weight: bold;
  font-style: normal;
}
.photoUp_imgUploadForm {display:none;}
.cropControlsUpload {display:none;}
#photoUp {width:300px; height:400px;}
#photoUp.co {width:400px; height:300px; background-image:url(../images/icons/placeholder-co.png);}
#choosePhotoWrap {width:300px; text-align:center;}
#choosePhotoWrap .co {width:400px;}
#choosePhoto {margin:0 auto;}
    
/* Standard Forms */
.form-local {margin:.1em .2em; padding:.2em; font-size:70%; color:darkgreen;}
.form-yes {color:green;}
.form-no {color:red;}

/* Admin */
.page-sadmin-panel #messages .status {background-image:none; margin:4px; padding:0px;}
.page-sadmin-panel #messages .status > ul {padding:0;}

/* Admin Deposits */
#rcreditswebformdeposits .control-label {min-width:150px;} /* can't be more than 153px (dunno why) */
#edit-deposits .control-label {width:50px;}

/* Change Password / Reset / Verify (first time or resetting password) (beginning with stuff from user.css) */
.password-strength {width:200px; float:right;}
.password-strength-title {display:inline; font-size:11px; font-weight:bold; color:darkgreen;}
.password-strength-text {float:right; font-weight:bold; font-size:11px; margin-top:3px;}
.password-indicator {background-color:#C4C4C4; height:0.3em; width:100%;}
.password-indicator div {height:100%; width:0%; background-color:#47C965;}
input.password-confirm,
input.password-field,
#rcreditswebformverify #edit-verify,
#rcreditswebformchangepassword #edit-pass {width:200px; margin-bottom:10px;}
div.password-confirm {float:right; margin-top:12px; visibility:hidden; font-size:11px;}
div.password-confirm .ok {font-weight:bold; color:green;}
div.password-confirm .error {font-weight:bold; color:red;}
#rcreditswebformchangepassword .control-label,
#rcreditswebformresetpassword .control-label {min-width:184px;}
#rcreditswebformchangepassword .control-data,
#rcreditswebformresetpassword  .control-data {width:450px;}
/* #edit-tip label {font-weight:normal; width:100%; text-align:left;} */
.password-suggestions.description {display:none !important; float:right; background-color:lightyellow; width:240px;}
#rcreditswebformchangepassword #edit-subtext em {font-style:normal; color:red;}

/* Login (Signin) */
#rcreditswebformsignin #edit-forgot {display:inline-block; margin:5px 0 0 15px;}

/* Signup (New account) */
#rcreditswebformsignup  #edit-title {margin-bottom:0;}
#rcreditswebformsignup  #edit-forother .control-data {padding-top:0; font-size:80%;}
#rcreditswebformsignup  #companyInfo {top:0; margin:0 0 10px 0; padding:0 15px; border:1px solid darkgreen; background-color:lightyellow;}
#rcreditswebformsignup .form-item-companyPhon label span {display:none;}
/* #rcreditswebformsignup #edit-buysat .checkbox {width:150px;} */
.form-item-dob {margin-top:60px;}
.form-item-physical, .form-item-sameAddr2 {margin-top:30px;}
.form-item-physical>label, .form-item-sameAddr2>label {color:darkgreen; font-size:130%;}
#rcreditswebformsignup .form-item-sponsor {display:none;}

/* Contact Info (labeled) */
#rcreditswebformcontact .form-item-pin {display:none; margin-left:180px;}

/* Transactions History */
#rcreditswebformtxs .virtual {color:LightSteelBlue; font-weight:normal;}
#rcreditswebformtxs #edit-title .control-data {width:100%; max-width:100%; text-align:center;}
#rcreditswebformtxs #edit-reports {text-align:right;}

#rcreditswebformtxs #edit-transactions .control-label {display:none;}
#rcreditswebformtxs #edit-transactions .control-data,

#rcreditswebformtxs .form-type-checkboxes {margin-bottom:0;}
#rcreditswebformtxs .form-type-checkbox {width:110px;}
#rcreditswebformtxs .form-type-radios {border:0;}
#rcreditswebformtxs .form-type-radio {display:inline-block;}
#rcreditswebformtxs .form-item-starting {margin-bottom:0;}
#rcreditswebformtxs input {max-width:110px;}
#rcreditswebformtxs .form-submit:not([value="Update"]) {margin-left:10px; max-width:120px;}
#rcreditswebformtxs .form-item-tx-period {margin-top:2em; display:inline-block;}
#rcreditswebformtxs .txs-buttons div {display:inline-block; width:2em; text-align:center; vertical-align:middle;}
#rcreditswebformtxs .txs-buttons div:first-child +div input {color:red; font-weight:bold;}
#rcreditswebformtxs .form-item-opts-4,
#rcreditswebformtxs .form-item-opts-5 {display:none;}

#rcreditswebformtxs .tx-selector {width:1em;}
/* for IE; text-align in <col> should have no effect according to CSS 2.1 */ 
#rcreditswebformtxs .tx-tid {width:5%; text-align:right;} /* 1 # */
#rcreditswebformtxs .tx-date {width:7.5%; text-align:right;} /* 2 date */
#rcreditswebformtxs .tx-fromyou {width:9.5%; text-align:right;} /* 4 from you */
#rcreditswebformtxs .tx-toyou {width:9.5%; text-align:right;} /* 5 to you */
#rcreditswebformtxs .tx-state {width:5%; text-align:right;} /* 6 status */
#rcreditswebformtxs .tx-buttons {width:12%; text-align:right;} /* 7 buttons */
#rcreditswebformtxs .tx-reward {width:7.5%; text-align:right;} /* 9 rewards */
#rcreditswebformtxs .tx-net {width:0; display:none;} /* 10 net */

#rcreditswebformtxs th,
#rcreditswebformtxs td {text-align:right;}

/* #rcreditswebformtxs th:first-child {text-align:right;} /* col 1: tid */
/* #rcreditswebformtxs th:first-child +th {text-align:right;} /* col 2: date */
#rcreditswebformtxs th:first-child +th+th {text-align:left;} /* col 3: name */
/* #rcreditswebformtxs th:first-child +th+th+th {text-align:right;} /* col 4: amount */
/* #rcreditswebformtxs th:first-child +th+th+th+th+th {text-align:right;} /* col 5: state */
/* #rcreditswebformtxs th:first-child +th+th+th+th+th+th {text-align:right;} /* col 6: buttons */
/* #rcreditswebformtxs th:first-child +th+th+th+th+th+th+th {text-align:right;} /* col 7: purpose */
#rcreditswebformtxs th:first-child +th+th+th+th+th+th+th {text-align:right;} /* col 8: reward */
#rcreditswebformtxs th:first-child +th+th+th+th+th+th+th+th {display:none;} /* col 9: net */

/* #rcreditswebformtxs td:first-child {text-align:right;} /* col 1 */
/* #rcreditswebformtxs td:first-child +td {text-align:right;} /* col 2 */
#rcreditswebformtxs td:first-child +td+td {text-align:left;} /* col 3 */
/* #rcreditswebformtxs td:first-child +td+td+td {text-align:right;} /* col 4 */
/* #rcreditswebformtxs td:first-child +td+td+td+td {text-align:right;} /* col 5 */
/* #rcreditswebformtxs td:first-child +td+td+td+td+td {text-align:right;} /* col 6 */
/* #rcreditswebformtxs td:first-child +td+td+td+td+td+td {text-align:right;} /* col 7 */
#rcreditswebformtxs td:first-child +td+td+td+td+td+td+td {text-align:right;} /* col 8 */
#rcreditswebformtxs td:first-child +td+td+td+td+td+td+td+td {display:none;} /* col 9 */

#rcreditswebformtxs #edit-transactions .control-data {margin:0 auto; width:100%; max-width:100%;}
#txlist {border:1px solid silver; padding:10px; width:100%; max-width:1024px; margin:10px auto; font-size:85%;}
#txlist-title {width:100%; margin-top:0px;}
#txlist div.row {margin-left:0; margin-right:0;}
#txlist .row >div {border-top:1px solid #d9d9d9; margin:0 auto;}
#txlist .row>div>div {padding-top:10px; padding-bottom:8px; min-height:35px;}

#txlist .tid-date, 
#txlist .name-purpose, 
#txlist .amount-reward {padding:0;}
#txlist .tid, #txlist .date {text-align:center;}
#txlist .tid {font-weight:bold;}
#txlist .amount, #txlist .reward {text-align:right;}

#txlist .row .buttons {padding:0 0 0 5px; border:0; min-width:30px; max-width:50px;}
#txlist .row .buttons div {max-width:50%;}
#txlist .buttons a.btn-xs {font-size:9px; margin:0;}
#txlist .buttons div {padding:0;}
#txlist .row div .reward {font-size:85%;}

#txlist .txRow {display:none;}
#txlist .txRow.head,
#txlist .txRow.page-0 {display:block;}

#txlist .row.head >div {border-bottom:0;}
#txlist .row.head>div>div {background:#757575; color:white; font-weight:bold; border-right:1px solid white;}
#txlist .row.head .buttons {color:white; background-color:white; border:0;}
#txlist .row.head .reward {font-size:100%;}

#txs-links {margin-bottom:10px;}
#txs-links.row >div {border:0; padding:0;}
#txs-links span {padding-right:3px;}
#txs-links .nav, #txs-links .nav span {padding:0; text-align:right;}

/* Transaction Summary Table */
#txsum {padding-bottom:10px;}
#txsum tr.even td, #txsum tr.odd td {background-color:white;}
/* #txsum td {text-align:right !important; border:0px;} */
#txsum tr#txsum-dates {background:none; line-height:.9; border:0px;}
#txsum tr#txsum-headers {font-weight:bold; background:none; border-bottom:1px solid black;}
#rcreditswebformtxs #txsum th, #rcreditswebformtxs #txsum td {display:table-cell;}
/*one tosign toyou fromsign fromyou rewardssign rewards balancesign balance*/
/* .txsum-one, .txsum-balance {width:120px;} */
.txsum-banksign, .txsum-tosign, .txsum-fromsign, .txsum-feessign, .txsum-rewardssign, .txsum-sharesign, .txsum-balancesign {min-width:1em;}
.txsum-bank, .txsum-toyou, .txsum-fromyou, .txsum-fees, .txsum-share, .txsum-rewards {min-width:7em;}

/* #txsum {border:1px solid black; position:absolute; z-index:1; left:0; right:0; width:500px; margin:auto auto; top:0; bottom:0} */
/* #txsum caption {background-color:darkgreen; color:white; margin:0 auto; padding:5px 0;} */
#txs-totals .modal-dialog {width:455px;}
#txs-totals .modal-body {padding:3px;}

#txsum caption {display:none;}
#txsum tr:first-child {font-weight:bold;}
#txsum tr:last-child td:first-child +td+td,
#txsum tr:last-child td:first-child +td+td+td+td {border-top:2px solid silver;} /* 1px fails in Chrome */
#rcreditswebformtxs #txsum tr td {text-align:right; border-left:1px solid silver;}
#rcreditswebformtxs #txsum tr td:first-child {text-align:left; font-weight:bold; background-color:#757575; color:white;}
#rcreditswebformtxs #txsum tr td:last-child {text-align:left;}

/* Invoices */
#rcreditswebforminvoices .form-item-states2 {display:none;} /* disabled until invoices are more used */
#rcreditswebforminvoices #edit-list .control-label,
#rcreditswebforminvoices #edit-title .control-label {display:none;}
#rcreditswebforminvoices #edit-list .control-data {width:100%; max-width:100%; text-align:center;}

/* Statements / Notices */
#statements th, #statements td,
#notices th, #notices td {text-align:left; vertical-align:top; border:1px solid silver;}

/* Deposits */
/* #rcreditswebformdeposits {margin-left:50px;} */
#rcreditswebformdeposits fieldset {width:290px; display:inline-block;}
#rcreditswebformdeposits .form-item-reprint label {text-align:right;}
#rcreditswebformdeposits  #deposits {width:auto; display:inline-block;}
#rcreditswebformdeposits  #deposits td {text-align:right;}
#rcreditswebformdeposits  #deposits td:first-child {text-align:left;}
#rcreditswebformdeposits  #edit-count {margin-bottom:3px;}

/* Donate */
#rcreditswebformdonate .form-item-wait {margin-top:30px;}
#rcreditswebformdonate #edit-gift {font-family:"Lucida Console",Menlo,Monaco,"Courier New",monospace;}
#rcreditswebformdonate .form-item-share .control-data {max-width:650px;}
#rcreditswebformdonate .form-item-share input {max-width:100px;}

/* Community Funds */
#cttyFunds {width:100%;}
#cttyFunds td {text-align:right;}
#cttyFunds td:first-child {text-align:left;}

/* Reports (Community Statistics/Graphs) */
#rcreditswebformgraphs {clear:both;}
#rcreditswebformgraphs .control-label {display:none;}
#rcreditswebformgraphs .form-type-item {margin-top:15px; margin-bottom:0;}
#rcreditswebformgraphs .description {clear:none;}
#rcreditswebformgraphs #edit-charts div {float:left;}
#rcreditswebformgraphs #edit-title {margin-bottom:0; font-weight:bold;}
/* #rcreditswebformgraphs #edit-subheader {margin-top:0px; margin-bottom:35px; font-size:110%;}  */
#rcreditswebformgraphs #edit-subtext {margin-left:0;} 
#rcreditswebformgraphs #edit-subtext em {font-weight:bold; font-style:normal; color:darkred;}
#rcreditswebformgraphs .form-item-ctty .control-label {display:inline-block; min-width:0; width:auto; padding-left:0; padding-right:5px;}
#rcreditswebformgraphs #edit-ctty {width:auto;}

#rcreditswebformgraphs .form-type-checkboxes {margin-bottom:0;}
#rcreditswebformgraphs .form-type-checkbox {width:110px;}
#rcreditswebformgraphs .form-type-radios {border:0;}
#rcreditswebformgraphs .form-type-radio {display:inline-block;}

#rcreditswebformgraphs .form-item-period {display:inline-block;}
#rcreditswebformgraphs .form-item-ending {display:inline-block;}
#rcreditswebformgraphs .form-item-starting {margin-bottom:0;}
#rcreditswebformgraphs .form-submit {margin-left:10px; max-width:120px;}
#rcreditswebformgraphs input {max-width:110px;}
#rcreditswebformgraphs .form-item-states,
#rcreditswebformgraphs .form-item-states label {margin-top:15px;}
#rcreditswebformgraphs  label {color:darkblue;}
#rcreditswebformgraphs #edit-p2p,
#rcreditswebformgraphs #edit-p2b,
#rcreditswebformgraphs #edit-b2b,
#rcreditswebformgraphs #edit-b2p {font-size:85%; margin:0 0 0 32px;}
#rcreditswebformgraphs #edit-p2p label,
#rcreditswebformgraphs #edit-p2b label,
#rcreditswebformgraphs #edit-b2b label,
#rcreditswebformgraphs #edit-b2p label {color:darkgray;}

/* Relation form */
/*#rcreditswebformrelations #edit-subtext label {width:450px;}*/
#rcreditswebformrelations #edit-list,
#rcreditswebformrelations #edit-list .control-data,
#relations {width:100%; max-width:100%;}
#rcreditswebformrelations #edit-list .control-label {display:none;}
#rcreditswebformrelations .form-type-submit {display:inline-block; width:400px;}
#rcreditswebformrelations .form-type-submit label {display:none;}
#rcreditswebformrelations #edit-go {margin-left:212px;}
#rcreditswebformrelations #edit-nextStep {margin-left:50px;}

#rcreditswebformrelations .form-item-new-person {display:inline-block;}
#rcreditswebformrelations .form-item-newPerson label {margin-left:2px; padding-left:0;}
#rcreditswebformrelations .form-type-select {margin:0;}
#rcreditswebformrelations select {padding:0; height:24px; font-size:12px;}
#rcreditswebformrelations .form-type-select label,
.form-yes a, .form-no a {transform:scale(.7);}
#rcreditswebformrelations #account-label {font-weight:bold;}
#rcreditswebformrelations .amount {width:50px;}
/*#rcreditswebformrelations {max-width:800px;} */
#rcreditswebformrelations .rel-person {width:auto;}
#rcreditswebformrelations .rel-draw {width:68px;}
#rcreditswebformrelations .rel-employee {width:120px;}
#rcreditswebformrelations .rel-owner {width:68px;}
#rcreditswebformrelations .rel-permission {width:18%;}
#rcreditswebformrelations .rel-link {width:auto;}
#rcreditswebformrelations .highlight input {background-image:url(../images/icons/buttons-highlight.png);}

/* typeahead */
.twitter-typeahead {width:100%;}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 6px 0;
  padding: 8px 0;
  background-color: #e5ffe5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
