<ion-view class="customer-menu">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="showBalance()">
      {{ 'balance' | translate }}
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="rc">
      <img ng-src="{{customer.photo}}" class="customer-img" sf-load="hideLoading()" />
      <p class="customer-name">{{customer.name}}</p>

      <button class="button button-block button-positive main-action">
        {{ 'charge' | translate }}
      </button>

      <div class="button-bar bar-stable">
        <a class="button">
          {{ 'refund' | translate }}
        </a>
        <a class="button">
          {{ 'exchange' | translate }}
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
