<ion-view class="customer-menu">
	<ion-nav-buttons side="secondary">
		<button class="button button-stable" ng-if="isOnline() && !isSelfServiceEnabled()" ng-click="showBalance()">
			{{ 'balance' | translate }}
		</button>
	</ion-nav-buttons>
	<subheader></subheader>
	<ion-content class="has-subheader">
		<div class="rc">
			<img id="ItemPreview" src="img/New-rCredits-Customer.png" ng-src="{{customer.photo}}" class="customer-img" sf-load="hideLoading()"/>
			<p class="customer-name">{{customer.name}}</p>
			<p>{{customer.place}}</p>
			<button class="button button-block button-positive primary"
					ng-click="openCharge()">
				{{ 'charge' | translate }}
			</button>
			<div class="button-bar bar-stable" ng-if="!isSelfServiceEnabled()">
				<button class="button refund secondary" ng-click="openRefund()">
					{{ 'refund' | translate }}
				</button>
				<button class="button exchange secondary" ng-click="openExchange()" ng-if="!isSelfServiceEnabled()">
					{{ 'exchange' | translate }}
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
