<ion-view class="customer-menu">
	<ion-nav-buttons side="secondary">
		<button class="button button-stable" ng-click="showQR()">
			{{ 'qr' | translate }}
		</button>
		&nbsp;&nbsp;
		<button class="button button-stable" ng-if="isOnline() && !isSelfServiceEnabled()" ng-click="showBalance()">
			{{ 'balance' | translate }}
		</button>
	</ion-nav-buttons>
	<subheader></subheader>
	<ion-content class="has-subheader">
		<div class="rc">
			<p class="customer-name">{{customer.name}}</p>
			<div class="rc">
				<img id="ItemPreview" src="img/New-rCredits-Customer.png" ng-src="{{customer.photo}}" class="customer-img" sf-load="hideLoading()"/>
				<p>{{customer.place}}</p>
				<div id="qrcode"></div>
				<div>{{customer.url}}</div>
			</div>
		</div>
	</ion-content>
</ion-view>
