<ion-view hide-nav-bar="true" ng-controller="SelectDemoCust as demo">
	<ion-content>
		<label class="thirds"><input name="formattype" type="radio" ng-model="format.type" value="0">Old</label>
		<label class="thirds"><input name="formattype" type="radio" ng-model="format.type" value="1">New</label>
		<label class="thirds"><input name="formattype" type="radio" ng-model="format.type" value="2">Short</label>
		<div ng-switch='whereWasI'>
			<input type="text" id="customQR" style="width:100%" value="HTTP://NEW.RC4.ME/ABB.ZzhWMCq0zcBowqw"  text="HTTP://NEW.RC4.ME/ABB.ZzhWMCq0zcBowqw" ng-model="customPerson.url">
			<a ng-switch-when="#/app/login" href="javascript:void(0)" ng-click="onSelectManager(customPerson.url,false)" ng-model="customPerson.url" id="accountLogin">Load Manager Info</a>
			<a ng-switch-when="#/app/home" href="javascript:void(0)" ng-click="onSelectCustomer(customPerson.url,false)" ng-model="customPerson.url" id="accountLogin">Load Customer Info</a>
			<a ng-switch-default href="#/app/home" >Please click here<br> to go back and try again,<br> somehow you got here <br>from nowhere<br></a>
			<json-tree id="accountInfo" object="customPerson.accountInfo" start-expanded="true" ng-switch-when="#/app/home"></json-tree>
			<json-tree id="accountInfo" object="customPerson.accountInfo" start-expanded="true" ng-switch-when="#/app/login"></json-tree>
		</div>
		<div class="aTable">
			<div ng-class-odd="'rightColumn'" ng-class-even="'leftColumn'" ng-repeat="person in customer">
				<div ng-switch='whereWasI' class="aRow">
					<a ng-switch-when="#/app/login" href="javascript:void(0)" ng-click="onSelectManager(person.url, true)" ng-model="selectedCustomer.selected" id="{{person.url}}"><img src="{{person.img}}" title="Demo User" class="demoImages"><br>{{person.url}}</a>
					<a ng-switch-when="#/app/home" href="javascript:void(0)" ng-click="onSelectCustomer(person.url, true)" ng-model="selectedCustomer.selected" id="{{person.url}}"><img src="{{person.img}}" title="Demo User" class="demoImages"><br>{{person.url}}</a>
					<a ng-switch-default href="#/app/home" >Please click here<br> to go back and try again,<br> somehow you got here <br>from nowhere<br></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>