<ion-view hide-nav-bar="true" ng-controller="SelectDemoCust as demo">
	<ion-content>
		<div class="aTable">
			<div ng-class-odd="'leftColumn'" ng-class-even="'rightColumn'" ng-repeat="person in customer">
				<div ng-switch='whereWasI' class="aRow">
					<a ng-switch-when="#/app/login" href="javascript:void(0)" ng-click="onSelectManager(person)" ng-model="selectedCustomer.selected"><img src="{{person.img}}" title="Demo User" class="demoImages"></a>
					<a ng-switch-when="#/app/home" href="javascript:void(0)" ng-click="onSelectCustomer(person)" ng-model="selectedCustomer.selected"><img src="{{person.img}}" title="Demo User" class="demoImages"></a>
					<a ng-switch-default href="#/app/home" >Please click here to go back and try again, somehow you got here from nowhere</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>