<ion-view ng-controller="CompanyHomeCtrl" class="company-home">
  <ion-content>
    <div class="rc">

      <h1 class="company">{{currentUser.company}}</h1>

      <p class="user">
        {{ 'signInAs' | translate }}:<br>
        {{currentUser.name}}
      </p>

      <div class="rc-logo" ng-include="'templates/logo.html'"></div>

      <button class="button button-block button-positive scan-customer main-action" ng-click="scanCustomer()">
        {{ 'scanRCard' | translate }}
      </button>
    </div>
  </ion-content>
</ion-view>
