<ion-view class="company-home" cache-view="false">
  <subheader></subheader>
  <ion-content>
    <div class="rc">

      <h1 class="company">{{currentUser.company}}</h1>

      <p class="user" ng-if="!isCashierMode()">
        {{ 'signInAs' | translate }}<br>
        {{currentUser.name}}
      </p>
      <p class="user" ng-if="isCashierMode()">
        {{ 'cashier_mode' | translate }}<br>
      </p>

      <div class="rc-logo" ng-include="'templates/logo.html'"></div>

      <button ng-click="scanCustomer()"
        class="scan-customer main-action button button-block button-positive " >
        {{ 'scanRCard' | translate }}
      </button>
    </div>
  </ion-content>
</ion-view>
