<ion-view class="company-home">
  <ion-content>
    <div class="tabulator" sf-resize>
      <div class="section-1 row">
        <div class="col">
          <select>
            <option>Option 1</option>
            <option></option>
          </select>
        </div>

        <div class="col number-display">
          <span class="currency">$</span>
          <span class="number">0.00</span>
        </div>
      </div>

      <div class="section-2">
        <div class="keys">
          <div class="button-bar">
            <div class="button">1</div>
            <div class="button">2</div>
            <div class="button">3</div>
          </div>
          <div class="button-bar">
            <div class="button">4</div>
            <div class="button">5</div>
            <div class="button">6</div>
          </div>
          <div class="button-bar">
            <div class="button">7</div>
            <div class="button">8</div>
            <div class="button">9</div>
          </div>
          <div class="button-bar">
            <div class="button">c</div>
            <div class="button">0</div>
            <div class="button">00</div>
          </div>
        </div>
      </div>

      <div class="section-3">
        <div class="button button-full">
          Charge
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
