<ion-view ng-controller="LoginCtrl" hide-nav-bar="true">
  <ion-content>
    <div class="rc">
      <div ng-include="'templates/logo.html'" class="rc-logo"></div>

      <h1>Welcome to rCredits</h1>
      <p>Test page to show how text will look.</p>
      <h2>H2</h2>
      <p>Test page to show how text will look.</p>
      <h3>Yes, an h3</h3>
      <p>Test page to show how text will look.</p>


      <button class="button button-block button-balanced" id="scan-to-login" ng-click="openScanner()">
        Scan to Sign In
      </button>
    </div>
  </ion-content>
</ion-view>
