<ion-view class="preferences">
  <ion-content>
    <div class="list">
      <li class="item item-toggle">
         Stay Signed In
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Enable Cashier Mode
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <ion-list>
        <ion-checkbox>Charge</ion-checkbox>
        <ion-checkbox>Refund</ion-checkbox>
        <ion-checkbox>Trade rCredits for USD</ion-checkbox>
        <ion-checkbox>Trade USD for rCredits</ion-checkbox>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
