<ion-view class="preferences">
  <ion-content>
    <div class="list">

      <li ng-repeat="pref in ::preferences" class="item item-toggle" ng-if="pref.isToggle()">
        {{ pref.name | translate }}
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="pref.value" ng-change="saveItems()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>


      <ion-list  ng-if="cashierModePref.isEnabled()">
        <ion-checkbox ng-model="option.value" ng-change="saveItems()"
                      ng-repeat="option in cashierCanModePref.options">{{ option.name | translate }}
        </ion-checkbox>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
