<ion-view view-title="{{('exchange'| translate)}}">
    <subheader></subheader>
	<ion-content class="has-subheader">
		<section class="section-1">
			<div class="list">
				<!--<form name="selectTransactionType" id="selectTransactionType" ng-model="currency" > ng-model="currency.value"-->
					<div class="item exchange-types">
						<div class="operation" >
							<ion-radio class="currencySelect" id="currencyIn" name="currencyIn" value="USD" type="radio" ng-model="currency" ng-change="selExCtrl.switchTypes(1)">{{::'exchange_in'| translate}}</ion-radio>
						</div>
						<div class="type">
							{{selExCtrl.exchange.getCurrencyFrom().getName()}}
						</div>
					</div>
					<div class="item exchange-types">
						<div class="operation" >
							<ion-radio class="currencySelect" id="currencyOut" name="currencyOut" value="rCredits" type="radio" ng-model="currency" ng-change="selExCtrl.switchTypes(2)">{{::'exchange_out'| translate}}</ion-radio>
						</div>
						<div class="type">
							{{selExCtrl.exchange.getCurrencyTo().getName()}}
						</div>
					</div>
				<!--</form>-->
				{{currency}}
				<div class="button button-full button-small secondary switch-btn">

				</div>
			</div>
		</section>
		{{hide_currency}}
		<div class="list" ng-show="hide_payment">
			<label class="item item-input item-select">
				<div class="input-label" ng-bind="selExCtrl.selectedPayment.getName()">
				</div>
				<select class="payment-type-select" ng-options="item as item.name for item in ::selExCtrl.paymentTypes"
						ng-model="selExCtrl.selectedPayment" ng-change="selExCtrl.onPaymentChange()"></select>
			</label>
			<div class="item payment-fee-advice" ng-bind="selExCtrl.paymentAdvice">
			</div>
		</div>
	</ion-content>
	<button class="button primary button-full button-positive next-btn" ng-click="selExCtrl.goNextPage()">
		{{::('next'| translate)}}
	</button>
</ion-view>
