<div class="bar bar-subheader" ng-if="offlCtrl.isOffline() || offlCtrl.isDemoMode()">
	<h2 class="title">
		<span ng-if="offlCtrl.isOffline()">{{'you_are_offline'| translate}}</span>
		<span ng-if="offlCtrl.isOffline() && offlCtrl.isDemoMode()"> - </span>
		<div ng-if="offlCtrl.isDemoMode()">
			<span class="demo-title">{{'demo_mode'| translate}}</span>
		</div>
	</h2>
	<div ng-if="offlCtrl.isDemoMode()" class="list ">
		<label ng-controller="selectDemoCustomer" class="item item-input item-select customerDemo">
			<select  ng-change="onSelectCustomer()" ng-model="selectedCategory.selected" >
				<option class="infoBarDropdown" >Susan Shopper</option>
				<option class="infoBarDropdown" >Susan Shopper</option>
				<option class="infoBarDropdown" >Susan Shopper</option>
			</select>
		</label>
	</div>
</div>
