<ion-view ng-controller="CompanyHomeCtrl" class="company-home">
  <ion-content>
    <div class="rc">

      <h1>Welcome to rCredits</h1>
      <div ng-include="'templates/logo.html'" class="rc-logo"></div>
      <p>Test page to show how text will look.</p>
      <h2>H2</h2>
      <p>Test page to show how text will look.</p>
      <h3>Yes, an h3</h3>
      <p>Test page to show how text will look.</p>
      <h4>H4</h4>
      <p>Test page to show how text will look.</p>
      <h5>H5 H5 h5 h5</h5>
      <p>Test page to show how text will look.</p>
      <h6>H5 H5 h5 h5</h6>
      <p>Test page to show how text will look.</p>

      <h3>Buttons</h3>

      <p>Main action buttons</p>
      <button class="button button-block button-energized">Large Button</button>

      <p>Secondary action buttons</p>
      <div class="button-bar bar-calm">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <div class="button-bar bar-light">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <div class="button-bar bar-stable">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <p>The below buttons don't seem to work as well, but are also options. It is also to have split colors as shown below.</p>
      <div class="button-bar">
        <a class="button button-positive">Split</a>
        <a class="button button-calm">Split</a>
      </div>

      <div class="button-bar bar-positive">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

    </div>
  </ion-content>
</ion-view>
