<ion-view ng-controller="CompanyHomeCtrl" class="company-home">
  <ion-content>
    <div class="rc">

      <h1>Welcome to rCredits</h1>
      <div ng-include="'templates/logo.html'" class="rc-logo"></div>
      <p>This is a test page to show application styles.</p>

      <h2>H2</h2>
      <h3>H3</h3>
      <h4>H4</h4>
      <h5>H5</h5>
      <h6>H6</h6>

      <h3>Buttons</h3>

      <h5>Main action buttons</h5>
      <button class="button button-block button-positive">Large Button</button>

      <h5>Secondary action buttons</h5>

      <div class="button-bar bar-stable">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <h5>Other button options</h5>

      <p>The below buttons don't seem to work as well, but are also options. It is also to have split colors as shown below.</p>

      <div class="button-bar bar-light">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <div class="button-bar bar-calm">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

      <div class="button-bar">
        <a class="button button-energized">Split</a>
        <a class="button button-calm">Split</a>
      </div>

      <div class="button-bar bar-energized">
        <a class="button">Split</a>
        <a class="button">Split</a>
      </div>

    </div>
  </ion-content>
</ion-view>
