.rc {
	.button-block, .button-bar {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width:600px) {
			width: 90%;
		}
	}
}
button.primary {
	font-size: 25px;
	height: 5.5rem;
}
button.secondary {
	font-size: 18px;
}
