.company-home {
  .company {
    font-size: 1.5em;
  }

  .user {
    font-size: 1em;
  }

  .rc-logo {
    margin: 3em 0;
    height: 10em;

    img {
      height: 100%;
    }
  }

  .scan-customer {
    padding: 1.5em;
    width: 80%;
  }
}
