.exchange-types {
  font-size: 20px;

  .operation {
    float: left;
    font-weight: 400;
  }
  .type {
    float: right;
    color: gray;
  }
}

.switch-btn {
  margin-top: 0px !important;
}

.next-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px !important;
}

.payment-fee-advice {
  min-height: 100px;
}

.payment-type-select {
  color: #ffffff !important;
}
