.centered-box {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.small-img {
	max-width: 100%;
	max-height: 10em;
	margin: 0 auto;
	text-align: center;
}
.large-icon {
	font-size: 8em;
	color: $lightgreen;
}
.cashier-pref {
	i {
		font-size: 26px;
		margin-right: 10px;
		color: $mediumgray;
	}
}
.cashier-pref-selected {
	i {
		color: $mediumgreen;
	}
}
.pref-subtitle {
	font-size: 13px;
	white-space: normal;
}
.transaction-description-menu{
	right: 0;
	float: right;
	position: absolute;
	padding: .33em 1em .33em 0;
}
.chargeBtn {
    position: absolute !important;
    bottom: 0 !important;
    display: table-cell;
}