.tabulator {
  background: $white;

  td.button {
    min-height: 0;
    padding: 0;
    margin: 0;
    border-radius: 0px !important;
    font-size: 2em;
    display: table-cell;
    border: 1px solid #B7B7B7;
    vertical-align: middle;
  }

  .calc-row {
    height: 1%;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: table-row;
    width: 100%;

    .clear {
      color: red;
    }
  }

  $keypad-header-height: 3.5em;
  $main-action-height: 5em;

  .section-1 {
    height: $keypad-header-height;
  }

  .section-2 {
    height: 77%;
  }

  .section-3 {
    margin-top: -10%;
  }
}

.number-display {
  text-align: right;
  font-size: 2em;
  line-height: 2em;
  height: 2em;
  margin-right: 20px;
}

.keypad {
  height: calc(100% - 6em);
  width: 100%;
}

.show-as-pwd {
  -webkit-text-security: disc;
}

.pin {
  text-align: center;
}

.input-pin {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
