
.section-1 {
  height: 30%;
}

.section-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
}

.tabulator {
  .button {
    min-height: 0;
    padding: 0;
    margin: 0;
  }

  .calc-row {
    height: 20%;
    min-height: 0;
    padding: 0;
    margin: 0;

    .button {
      height: 100%;
    }
  }
}

.calc-component {
  height: 50%;
  display: block;
}

.number-display {
  text-align: right;
  font-size: 2em;
}

select {
  font-size: 1em;
  padding: 0.5em;
  margin: .5% 1%;
  width: 98%;
  border-radius: 5px;
  border: 1px solid $stable;
}
