.tabulator {
  background: $white;

  .button {
    min-height: 0;
    padding: 0;
    margin: 0;
  }

  .calc-row {
    height: 20%;
    min-height: 0;
    padding: 0;
    margin: 0;

    .button {
      height: 100%;
    }
  }

  .section-1 {
    height: 40%;
  }

  .section-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
  }
}

.calc-component {
  display: block;
  height: 50%;
}

.number-display {
  text-align: right;
  font-size: 2em;
}
