@import "colors";

$base-background-color:           $pale !default;
$base-color:                      $darkgray !default;

$font-size-base:                  16px !default;
$font-size-large:                 18px !default;
$font-size-small:                 12px !default;
