.rc.home {
  .company {
    font-size: 300%;
  }
  .user{
	  font-size: 1.8em;
  }
  .rc-logo {
    margin: 10% auto;
    width: 150px;
    height: 150px;
  }
  .scan-customer{
	  font-size: 2em;
  }
}
