.rc {
  text-align: center;
  margin: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h3, h5 {
  color: $rCreditsBlue;
}

h2, h4, h6 {
  color: $rCreditsGreen;
}

subheader {
  height: 44px;
}

@import "popup";
@import "logo";
@import "button";
@import "general";
@import "customer_menu";
@import "keypad";
@import "message";
@import "exchange";
@import "login";
@import "home";
