.rc {
	text-align: center;
	margin: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h3, h5 {
	color: $rCreditsBlue;
}

h2, h4, h6 {
	color: $rCreditsGreen;
}

subheader {
	height: 44px;
}
.customerDemo{
	display: inline-block;
	float: right;
	top: 0;
	right: 0;
	position: absolute;
	height: 38px;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}
.managerDemo{
	display: inline-block;
	float: left;
	top: 0;
	position: absolute;
	height: 38px;
	padding: 0;
	width: 33%;
	margin: 0;
	background: none;
}
.leftMenue{
	left: .5em;
	right: inherit;
}
.rightMenu{
	right: 0em;
}
.rightMenu::after{
	right: 10.5em !important;
}
.item-select::after{
	right: 8.5em !important;
	z-index: 0;
}
.item-select select {
	padding: 0;
	max-width: inherit;
}
.submenuText{
	text-align: left;
	padding: 21px 0;
	border-bottom: 1px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	margin: 0;
	background: none;
}
.demo-title{
	top: 0;
	display: inline-block;
	z-index: 999999;
	left: 0;
}
@media screen and (min-width: 550px) {
	.title, demo-title{
		text-align: !important left;
		color: red;
	}
}
.detailsMenuItem{
	padding: 0; 
	margin-right: 0em;
	z-index: 0;
	display: list-item;
	overflow: hidden;
}
.item{
	border: none;
}
.preferencesItems{
	font-size: 1.5em;
}
.linkerizer{
	color: blue;
	text-decoration: underline;
}
.menuItems{
	font-size: 1.5em;
	font-weight: 200;
}
.exchangeText{
	font-size: 1em;
}
.exchangeText2, .exchangeText2 > option, .item-select select{
	font-size: 1.3em;
}
#qrcode img{
	z-index: 9999999;
	margin: auto;
	display: inherit;/*
	position: relative;*/
}
/*.item-radio input:checked + .radio-content .item-content {
	color: black;
}
.currencySelect {
	color: lightgray;
}*/
@import "popup";
@import "logo";
@import "button";
@import "general";
@import "customer_menu";
@import "keypad";
@import "message";
@import "exchange";
@import "login";
@import "home";
@import "demo_people";
@import "selectExchange"