body, th, td {font-family:Arial;}
div.clearer { clear:both; }

body { margin:0px; padding:0px; }
div#bodywrap { margin-left:auto; margin-right:auto; width:708px; }
.loud { color:red; font-weight:bold;}
div#error, .error { color:red; background-color:#FFFF99;}

div#ballot { padding:3px; border:1px solid black; width:700px; }
#ballot table { border-collapse:collapse; }
#ballot td { border:0px; }

#ballot div.ballotheader { padding:5px; margin-bottom:5px; font-size:12px; color:white; background-color:darkgreen; }
#ballot div.electiontitle { float:left; }
#ballot div.questioncount { float:right; }

#ballot div.question { font-size:18px; padding-bottom:5px; }
#ballot div.questiondetail { font-size:16px; padding-bottom:10px; }
#ballot div.discussionlink { font-size:13px; text-align:right; float:right; }
#ballot div.discussionlink a { font-weight:bold; color:darkgreen; text-decoration:none; }
#ballot div.discussionlink a:hover { color:green; text-decoration:underline; }

#ballot div.row { clear:both; vertical-align:top; border-top:1px solid silver; overflow:hidden; display:block; width:100%; }
#ballot .row1 { background-color: #ECFFFF; }
#ballot .row2 { background-color: #ECFFEC; }
#ballot div.rowwrapper { background-color:inherit; }

#ballot div.optionheader div { font-size:12px; color:darkblue; font-weight:bold; padding-top:0px; }
#ballot div#submitline { text-align:left; padding:15px; border-top:1px solid silver; }
#ballot div.backlink { width:150px; float:left; }
#ballot div.backlink a { text-decoration:none; color:darkgreen; font-weight:bold; }
#ballot div.backlink a:hover { color:darkblue; }

#ballot div.item { float:left; width:360px; padding-left:20px; padding-top:3px; background-color:inherit; }

#ballot div.veto { float:right; width:35px; text-align:right; padding-top:3px; clear:right; background-color:inherit; }
#ballot div.vetonotediv { float:right; width:377px; height:180px; display:none; overflow:hidden; margin-bottom:10px; padding-left:10px; color:red; background-color:inherit; }
#ballot div.vetonotediv textarea  { width:375px; height:140px; }
#ballot div.vetonoteheader { display:inline; padding:5px; padding-bottom:0px; background-color:darkred; color:white; font-weight:bold; }

#ballot div.optdetail { clear:left; overflow:hidden; display:none; text-align:left; background-color:inherit; }
#ballot div.optdetailheader { display:inline; padding:5px; padding-bottom:0px; background-color:black; color:white; font-weight:bold; }
#ballot div.optdetailtext { display:block; padding-top:5px; max-height:150px; overflow:-moz-scrollbars-vertical; overflow:scroll; overflow-x:hidden; background-color:inherit; }

/* Sliders and Percentage */
#ballot div.sliderandpct { float:left; width:285px; height:35px; background-color:inherit; }
#ballot div.slider { float:left; width:225px; text-align:center; background-color:inherit; }
#ballot div.pct { float:left; width:60px; text-align:right; background-color:inherit; }
#ballot div.pct input { width:60px; text-align:right; font-family:Arial; border:0px; margin-top:4px; }

/* Grade formatting and positioning */
#ballot div.grades { float:left; width:150px; height:45px; background-color:inherit; }
#ballot div.optionheader div.grades { text-align:center; height:20px; }
#ballot div.gradeheader, #ballot div.gradeinputs { display:block; }
#ballot div.gradeheader table { width:150px; background-color:inherit; }
#ballot div.gradeheader td { width:25px; height:20px; text-align:center; vertical-align:bottom; font-size:12px; color:black; font-weight:bold; padding:0px; margin:0px; }
#ballot div.gradeinputs div { float:left; width:25px; height:20px; text-align:center; background-color:inherit; }
#ballot div.gradeheader td.gAplus  { text-indent:5px; color:silver; }

#ballot div.optionnum { padding:2px; padding-left:5px; padding-right:5px; text-align:center; vertical-align:middle; background-color:black; color:white; float:left; font-size:12px; font-weight:bold; } /* unused */

/* slider customization */
*.carpe-slider-panel {
	background-color: silver;
	color: #333;
	margin: 0;
	height: 12px;
	border: 2px solid;
	border-color: #ddd #999 #999 #ddd;
	top: 0px;
	opacity: 1;
}
*.carpe-slider-panel:focus {
	background-color: darkgreen;
}
*.carpe-slider-panel:hover, *.carpe-slider-panel:focus :hover {
	background-color: green;
}
*.orientation-horizontal {
	width: 120px;
	padding: 4px 3px 4px 4px;
}
/* The Slider Slit */
*.carpe-slider-slit {
	background-color: #333;
	border: 1px solid;
	border-color: #999 #ddd #ddd #999;
}
*.carpe-slider-panel:focus *.carpe-slider-slit {
	background-color: black; /* Blue color of slit in focused slider. */
/*	border-color:green;
	border-color-bottom:lightgreen; */
}
*.orientation-horizontal *.carpe-slider-slit {
	height: 2px;
	margin: 4px 2px 2px 2px;
	top: -15px;
}
/* The Slider Knob */
*.carpe-slider-knob {
	background-color: white;
	border: 3px solid;
	border-color: #999 #333 #333 #999;
}
*.carpe-slider-knob:hover {
	background-color: #777;
}
*.orientation-horizontal *.carpe-slider-knob {
	width: 8px;
	margin: 0;
	height: 10px;
	top: -2px;
}

table.resultstable { border-collapse:collapse; }
table.resultstable td, table.resultstable th { 
	text-align:right; padding-right:10px; padding-left:10px; background-color:silver; border:1px solid white; 
}
table.resultstable th { text-align:center; background-color:darkgreen; color:white; border:0px; }
table.resultstable td.optlinehdr { text-align:left; }