<html>
<body>
<div style="float:right; font-size:85%"><b>Account:</b> %qid</div>
<p>Dear %fullName,</p>

%body

<p>If you have any problems or questions with your %PROJECT account (now or ever), please feel free to call us at the number below or simply reply to this email.</p>

<p>Sincerely,</p>

<p><i>The %PROJECT Team</i></p>

<p style="background-color:#cefdce;"><b>TIP:</b> Protect your personal information and your money. Sign in to your %PROJECT account safely by adding %CG_DOMAIN to your "Favorites"; or type "%CG_DOMAIN" in the address bar at the top of your browser window. And of course be wary of impostors asking for your password unexpectedly or when you click a link in an email.</p>

<hr>

<b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL">%CGF_EMAIL</a><br>
<br>
<small>You are receiving this email because you are a member of %PROJECT. To close your account (and "unsubscribe"), <a href="mailto:%CGF_EMAIL?subject=Close my %PROJECT account">click here</a>.</small>
</p>

</body>
</html>