<html>
<body>
<div style="float:right; font-size:85%"><b>Account:</b> %qid</div>
<p>Dear %fullName,</p>

%body

<p>If you have any problems or questions (now or ever), please feel free to call us at the number below or simply reply to this email.</p>

<p>Sincerely,</p>

<p><i>The rCredits Team</i></p>

<p style="background-color:#cefdce;"><b>TIP:</b> Protect your personal information and your money. Sign in to your %PROJECT account safely by typing "%CG_DOMAIN" in the address bar at the top of your browser window. Never click a link in an email to go to <i>any</i> account that asks for a password, unless you requested the email.</p>

<hr>

<b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL">%CGF_EMAIL</a>
</p>

</body>
</html>