<html>
<body>
<div style="float:right; font-size:85%"><b>Account:</b> {qid}</div>
<p>Dear {fullName},</p>

{BODY}

<p>If you have any problems or questions (now or ever), please feel free to call us at the number below or simply reply to this email.</p>

<p>Sincerely,</p>

<p><i>The rCredits Team</i></p>

<p style="background-color:#cefdce;"><b>TIP:</b> Protect your personal information and your money. Sign in to your rCredits account safely by typing "rCredits.org" in the address bar at the top of your browser window. Never click a link in an email to go to <i>any</i> account that asks for a password, unless you requested the email.</p>

<hr>

<p>rCredits are a project of:<br>
<b style="color:darkblue;">Common Good Finance</b><br>
PO Box 21, Ashfield, MA 01330 USA<br>
+1 413 628 1723<br>
<a href="mailto:info@CommonGoodFinance.org">info@CommonGoodFinance.org</a>
</p>

</body>
</html>