<p>You have received some{ASIF} rCredits from your employer ({OTHER_NAME}):</p>

<p>{CREATED} {AMOUNT} for "{PAYEE_PURPOSE}" (plus a bonus of {REWARD_AMOUNT})</p>

<p>You must reimburse your employer {AMOUNT} in US Dollars (do not reimburse the bonus). You can use any form of payment acceptable to you and your employer. We recommend using Dwolla (<a href="http://dwolla.com">click here</a> to open a Dwolla account) or BillPay (a service provided by your bank).</p>

<p>Once you have reimbursed your employer, mark this transaction "OK" on the rCredits Members site. <a href='http://devcore.rCredits.org/transactions'>Click here</a> to go there now.</p>

<p>Spend your rCredits at any participating business and get a 5% rebate. Expect even more rCredits next time!.</p>