<html>
<body style="font-family:Arial,Helvetica,Verdana;">
<p>Dear {fullName},</p>
<p><span style="font-weight:bold; font-size:125%; color:darkblue;">Holy cow, we've done it.</span></p>

<p>Lots of people doubted we could issue rCredits and have <i>almost the same effect</i> as issuing US Dollars. But we proved it! On December 15<sup>th</sup> we successfully completed our year-long pilot of rCredits in Greenfield, MA. All of the important features are finally in place, and running beautifully, and everyone is better off. </p>

<p><br><span style="font-weight:bold; font-size:125%; color:darkblue;">Here's a snapshot</span> of the rCredits system as it is today, before we expand to more participants and additional communities:</p>

<table style="background-color:beige; border-collapse:collapse; border:3px solid darkgreen;">
<tr><td style="font-weight:bold; text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">Participants</th><td style="text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">100 active members<br>14 companies</td></tr>
<tr><td style="font-weight:bold; text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">Transactions</th><td style="text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">about 10 a day<br>$186,000 to date</td></tr>
<tr><td style="font-weight:bold; text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">rCredits issued to date</th><td style="text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">$26,000 to participants, as incentive rewards<br>
$55,000 for the community (not yet spent)</td></tr>
<tr><td style="font-weight:bold; text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">Credit card fees saved</th><td style="text-align:left; vertical-align:top; border:1px solid darkgreen; padding:10px;">over $1,800</td></tr>
</table>

<br>
<p><span style="font-weight:bold; font-size:125%; color:darkblue;">We're ready to grow.</span></p>

<p>Already, groups in 6 states are asking for our help to launch rCredits in their communities. A second pilot in Ann Arbor, MI, is nearly ready to begin. When we grow to 10,000 members in each of 10 communities, change the thousands to millions in the figures above.</p>

<p>More importantly, though, we are ready to begin the Democracy Phase of rCredits. Together we have the power to fund our common good. What do we want to do with this power? What do we value as a community? How can we use this power to make our community sustainable, provide for everyone's basic needs, and help other communities do the same? Our members' celebration on January 31<sup>st</sup> will begin that discussion.</p>

<div style="float:right; margin:20px; width:250px; text-align:center; color:silver;">
<img src="http://commongoodfinance.org/images/newsletter/cgb-seminar.jpg" align="right" style="width:250px; margin-bottom:5px;" /><br>
<small>(a previous rCredits seminar -- Amherst 2011)</small>
</div>

<p><span style="font-weight:bold; font-size:125%; color:darkblue;">Seminar</span></p>

<p>Meanwhile, for a deeper understanding of rCredits, please come to any or all sessions of our January seminar on <b><i>Realizing the Potential of rCredits</i></b>, 6:30 p.m. in the Community Room at Green Fields Market, Monday evenings, January 5 (<b style="background-color:yellow;">TONIGHT!</b>), 12, 19, and 26. [<a href="https://docs.google.com/document/d/1OMHEqVWshvZ8L0CxvAVYOp0E4b4CvpIQIQqEBWr0AUQ/edit#">more info</a>]</p>

<p>As we grow, we will need extra help with administration and automation. The rCredits system is designed to be self-funding once it's up and running, but expanding to other communities has its own costs. If you would like to help fund that growth, please do! (sign in to your account at rCredits.org and click "Donate" at the bottom of any page).</p>

<p><span style="font-weight:bold; font-size:125%; color:darkblue;">Many thanks</span> to all of you for helping pioneer the rCredits system.</p>

<p>Wishing you a happy and prosperous 2015,</p>

<p><span style="font-family:Brush Script MT,Monotype Corsiva,Lucida Handwriting,Comic Sans MS,Helvetica; font-style:italic; font-size:24pt; color:darkblue;">William</span><br>

William Spademan<br>
<i>for Common Good Finance and the rCredits Team</i><br/><br/>

<p><b style="color:darkgreen;">Common Good Finance</b><br>
<i>democratic economics for a sustainable world</i></p>

<p>48 Buckland Road, PO Box 21<br>
Ashfield, MA 01330 USA<br>
+1 413 628 1723<br>
<a href="http://commongoodfinance.org">CommonGoodFinance.org</a></p>
</body>
</html>