<!DOCTYPE html>
<html>
<body style="font-family:Verdana, Arial, Helvetica; line-height:150%; background-color:silver; text-align:center;">
<div style="margin:auto; max-width:900px; border:1px solid black; padding:20px; background-color:white; text-align:left;">


<p style="text-align:center;">Together we can build a Common Good Economy.<br>
<br>
<a href="%PROMO_URL/signup/code=%CODE" style="font:bold 16px Arial;  text-decoration:none;  background-color:green;  color:white;  padding:8px 12px;  margin-bottom:5px;    -webkit-border-radius:8px;    -moz-border-radius:8px;    border-radius:8px;    border:solid 1px #20538D;    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);">Accept Invitation</a><br>
<a href="%PROMO_URL/signup/code=%CODE" style="font-size:85%; display:block; margin-top:10px; text-decoration:none;">(%PROMO_URL/signup/code=%CODE)</a>
</p>

<div style="padding:15px; background-color:lightyellow; border:1px solid darkgreen;">
  <table><tr>
    <td style="margin-right:10px; vertical-align:center;"><img src="%BASE_URL%R_PATH/images/%PROJECT_LOGO" hspace="5" height="96" alt="" /></td>
    <td style="vertical-align:center;"><h2 style="font-size:36px;"><span style="color:darkblue;font-stretch:expanded;">%PROJECT&trade;</span><small style="font-weight:normal; font-size:50%; color:darkgray;"><br><i>a payment card for the common good</i></small></h2></td>
  </tr></table>
  <ul>
    <li>Generate funds for community projects every time you use it.</li>
    <li>You and other members decide together what to fund. </li>
    <li>Easy to use. Easy to accept as payment.</li>
    <li>No fees for you. No fees for businesses.</li>
  </ul>
   <a href="%PROMO_URL" style="font-size:75%; font-weight:bold; text-decoration:none; margin-left:200px;">[MORE]</a></p>
</div>

<p>%PROJECT is a 501(c)(3) nonprofit organization.</p>

<p>Signup is by invitation only. Click below to accept your invitation and open your %PROJECT account. It takes about 20 minutes.</p>
<p>You will be asked for all the same information as for a bank account, plus a photo for your %PROJECT Card. You will also be asked to make a donation "of any size" (zero or more) to support the project &mdash; you decide how much (%PROJECT is a nonprofit). And you will be asked to sign the one-page <a href="%PROMO_URL/agreement.html" style="text-decoration:none;">%PROJECT Agreement</a>.</p>
<br>
<p style="text-align:center;">
<a href="%PROMO_URL/signup/code=%CODE" style="font:bold 16px Arial;  text-decoration:none;  background-color:green;  color:white;  padding:8px 12px;  margin-bottom:5px;    -webkit-border-radius:8px;    -moz-border-radius:8px;    border-radius:8px;    border:solid 1px #20538D;    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);">Accept Invitation</a><br>
<a href="%PROMO_URL/signup/code=%CODE" style="font-size:85%; display:block; margin-top:10px; text-decoration:none;">(%PROMO_URL/signup/code=%CODE)</a>
</p>

<p><b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL" style="text-decoration:none;">%CGF_EMAIL</a><br>
<br>
<small>You are receiving this email because a friend invited you. To "unsubscribe" and prevent other friends from inviting you, <a href="mailto:%CGF_EMAIL?subject=I am not interested in %PROJECT&body=Please remove my email address from your list and prevent anyone from inviting me in the future.">click here</a>.</small>
</div>
</body></html>
