<!DOCTYPE html>
<html>
<body style="font-family: Verdana, Arial, Helvetica; line-height:150%; background-color:silver; text-align:center;">
<div style="margin:auto; max-width:900px; border:1px solid black; padding:20px; background-color:white; text-align:left;">
<p>{PERSONAL_NOTE}</p>
<p><b style="color:darkblue;">--<br>{MEMBER_NAME}</b><br>
<span style="font-size:60%;">rCredits Member since {DATE}</span></p>
<p>----</p>

<h2 style="color:darkgreen;">About rCredits</h2>
<p>{MEMBER_NAME} has invited you to join <b style="color:darkgreen;">rCredits&trade;</b>, a new payment system that gives you incentive rewards and helps your community at the same time. Get rewards on every transaction, when you pay with your rCard&trade;. Merchants save a bundle on credit card fees.</p>
<p>rCredits is a project of Common Good Finance&trade;, a 501(c)(3) nonprofit based in Ashfield, Massachusetts.</p>
<p>Sign up by invitation only. <a href="http://new.rCredits.org/user/register/{CODE}">Click here to accept</a>.</p>

<br>
<h2 style="color:darkgreen;">rCredits Advantages</h2>

<h3 style="color:darkblue;">For Businesses:</h3>
<ul style="line-height:150%;">
<li><b>Minimal processing fees.</b> Save 2-4% on credit card fees. rCredits system transaction fees are never more than 25 cents. Transactions under $10 are free.</li>
<li><b>Fast, easy transactions.</b> Use a webcam, smartphone, or tablet to scan the customer's rCard.</b> rCredits transactions typically take less time than a credit card transaction. Funds go into your account immediately.</li>
<li><b>Incentive rewards.</b> A 5% rebate reward on payments you make in rCredits and a 10% bonus on whatever you sell.</li>
<li><b>Protection from inflation.</b> Continuous inflation-rate return on your account balance.</li>
<li><b>Short-term credit.</b> rCredits gives you a zero-interest line of credit for easier cash flow.</li>
<li><b>Online advertising.</b> List your products and services free on the rCredits website.</li>
<li><b>Supports "buy local".</b> The whole community has a stake in your success.</li>
<li><b>Easy bookkeeping.</b> Administration time is comparable to managing a second bank account. No changes are required to your payroll system. Common Good Finance provides training for employees. </li>
<li><b>Access to capital*.</b> Apply for zero-interest loans for business expansion or startup.</li>
</ul>

<h3 style="color:darkblue;">For Individuals</h3>
<ul style="line-height:150%;">
<li><b>Protection from inflation.</b> Inflation-rate return on your account balance.</li>
<li><b>Easy purchases.</b> Your rCard is all you need, to make purchases in stores. You can also make purchases or send invoices using a web browser, text message, or smartphone.</li>
<li><b>Incentive rewards.</b> A 5% rebate reward on whatever you buy with rCredits and a 10% bonus on your pay. Get 5 cents back even on US Dollar purchases.</li>
<li><b>Zero-interest loans.</b> Everyone gets short-term loans on demand, at no cost.</li>
<li><b>Guaranteed value.</b> Convert your rCredits to US Dollars as needed.</li>
<li><b>Financial security*.</b> The rCredits system is designed to serve as the framework for a Common Good Economy; that is, a new sustainable, democratic funding system that puts people and planet first -- a model easily adopted by individuals and businesses in any community, so everyone can have healthy food, a home, healthcare, satisfying work, and a livable world.</li>
</ul>

<h3 style="color:darkblue;">For Communities*</h3>
<ul style="line-height:150%;">
<li><b>More funding for sustainability, culture, and human needs.</b> Communities can issue rCredits as needed, allowing them to flourish economically and socially.</li>
<li><b>We decide together what to finance and what to fund.</b> Communities gather to plan what organizations to support and what local businesses to create or expand. We can make those plans together, knowing we can issue rCredits to fund them – as grants or as zero-interest loans.</li>
<li><b>A democratic process that leads toward consensus.</b> rCredits communities use a combination of democratic processes: town meeting style discussions, voting directly or with personal representatives (one person one vote), ranked choices, instant runoff, and approval voting. The outcome leaves as many people satisfied as possible. </li>
<li><b>Stability.</b> The funding we issue together benefits everyone. It does not increase the wealth of a few at the expense of the many. The system gets more and more stable and sustainable as it grows. </li>
<li><b>We can look after our own and help others.</b> With the power to issue credits that act like money, we can take on that responsibility and be effective in building a Common Good Economy and a society to benefit everyone.</li>
</ul>
<p>* <i>Longer term advantages</i> will start once the rCredits system has been stable for at least six months.</p>

<p><a href="http://new.rCredits.org/user/register/CODE">Click here to accept your invitation to join rCredits</a>.</p>

<br>
<p><b style="color:darkblue;">Common Good Finance</b><br>
PO Box 21, Ashfield, MA 01330 USA<br>
+1 413.628.1723<br>
<a href="mailto:info@CommonGoodFinance.org">info@CommonGoodFinance.org</a>
</div>
</body></html>
