<p>You have received some{asif} rCredits from your employer ({otherName}):</p>

<blockquote>{created} {amount} for "{payeePurpose}" (plus a bonus of {rewardAmount})</blockquote>

<p>You must reimburse your employer {amount} in US Dollars (do not reimburse the bonus). You can use any form of payment acceptable to you and your employer. We recommend using Dwolla (<a href="http://dwolla.com">click here</a> to open a Dwolla account) or BillPay (a service provided by your bank).</p>

<p>Once you have reimbursed your employer, mark this transaction "OK" on the rCredits Members site. <a href='http://devcore.rCredits.org/transactions'>Click here</a> to go there now.</p>

<p>Spend your rCredits at any participating business and get a 5% rebate. Expect even more rCredits next time!.</p>