<!DOCTYPE html>
<html>
<body style="font-family: Verdana, Arial, Helvetica; line-height:150%; background-color:silver; text-align:center;">
<div style="margin:auto; max-width:900px; border:1px solid black; padding:20px; background-color:white; text-align:left;">

<p>You received an invitation to rCredits a few days ago. Click the link below to sign up now! ({nudge} before the invitation expires.)</p>
<p><small><a href="{site}/signup/code={code}">{site}/signup/code={code}</a></small></p>

<h2 style="color:darkgreen;">About rCredits</h2>
<img src="https://new.rcredits.org/sites/all/themes/rcredits/logo.png" align="left" hspace="5" width="72" height="96" alt="" />
<p>{inviterName} invited you to join <b style="color:darkgreen;">rCredits&trade;</b>, a new community-centered payment system with incentive rewards. Get $20 for signing up and 10% back* on anything you pay for with your rCard&trade;. Merchants get rewards too &mdash; and save a bundle on credit card fees. [<a href="http://rCredits.org">more...</a>]</p>
<p>rCredits are a project of Common Good Finance&trade;, a 501(c)(3) Massachusetts-based nonprofit.</p>
<p>* We expect 10% rewards to continue for a year or two, not forever.</p>
<div style="padding:5px; background-color:lightyellow; border:1px solid darkgreen;">Sign up by invitation only. Click below to accept your invitation.</div><br style="line-height:200%;" />
<small><a href="{site}/signup/code={code}">{site}/signup/code={code}</a></small>
<br><br>
<br>
<p><b style="color:darkblue;">Common Good Finance</b><br>
PO Box 21, Ashfield, MA 01330 USA<br>
+1 413 628 1723<br>
<a href="mailto:info@CommonGoodFinance.org">info@CommonGoodFinance.org</a>
</div>
</body></html>
