<p><b style="color:darkgreen;">Here are your %PROJECT notices</b> for account <i>%shortName</i> from the past %unit (since %yestertime):</p>

<table>
%messages
</table>

<p><b style="color:darkgreen;">Your current balance</b> is %balance.<br>
<b style="color:darkgreen;">Your credit line</b> is %creditLine (based on your monthly activity).</p>

<p style="font-size:100%;"><b style="color:darkgreen;">To review your transaction history</b> at any time, sign in at <a href="http://CommonGood.earth" style="text-decoration:none; color:darkblue; font-weight:bold;">%CG_DOMAIN</a> and choose a page from the History menu.</p>

<p style="font-size:100%;"><b style="color:darkgreen;">To change how often you receive these collected notices</b> (daily, weekly, or monthly), sign in at <a href="http://CommonGood.earth" style="text-decoration:none; color:darkblue; font-weight:bold;">%CG_DOMAIN</a> and click "Preferences" on the Settings menu. If you need help, please feel free to email us anytime at %ourEmail.</p>

<h2 style="color:darkblue;">Participating Local Businesses</h2>
<p style="font-size:100%;">Want more places to spend your %RCREDITS? Invite the owner or manager of a local company (use your handout cards or sign in at <a href="http://CommonGood.earth" style="text-decoration:none; color:darkblue; font-weight:bold;">%CG_DOMAIN</a> and click "Invite" on the Community menu). Invite your friends too!</p>
<p style="font-size:100%;">Find a list of participating local businesses <a href="%BASE_URL/community/find-company/where=%zip3">here</a></p>
<p style="font-size:100%;">Want your company listed? Open a company account! (sign in at <a href="http://CommonGood.earth" style="text-decoration:none; color:darkblue; font-weight:bold;">%CG_DOMAIN</a> and click the "Open a Company Account" button).</p>