<p><b style="color:darkgreen;">Here are your rCredits notices</b> for account <i>{shortName}</i> from the past {unit} (since {yestertime}):</p>

<ul>
{messages}
</ul>

<p><b style="color:darkgreen;">Your current balance</b> is {balance}, including {rewards} incentive rewards to date.</p>
<p><b style="color:darkgreen;">Your effective annual rate of return</b> on your average balance, based on your incentive rewards to date, is {return}%.</p>
<p><b style="color:darkgreen;">To review your transaction history</b> at any time, sign in to <a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a>, then click "History". To adjust your account settings, click the Settings gear in the upper right corner.</p>

<p><b style="color:darkgreen;">To change how often you receive these collected notices</b> (daily, weekly, or monthly), sign in to <a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a>, then click the Settings gear, then "Preferences". If you need help, please feel free to email us anytime at {ourEmail}.</p>
