<p>Here are your rCredits notices for account {shortName} from the past {unit} (since {yestertime}):</p>

<ul>
{messages}
</ul>

<p>To review your transactions at any time, sign in to your account (go to <a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a> and click on "Members' Site" at the top), then click on "Transactions". To adjust your account settings, click on the Settings gear in the upper right corner.</p>

<p>To change how often you receive these collected notices (daily, weekly, or monthly), sign in to your account (go to <a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a> and click on "Members' Site" at the top), then click on the Settings gear, then on "Preferences".</p>
