<!DOCTYPE html>
<html>
<body style="font-family: Verdana, Arial, Helvetica; line-height:150%; background-color:silver; text-align:center;">
<div style="margin:auto; max-width:900px; border:1px solid black; padding:20px; background-color:white; text-align:left;">

<p>%fullName,</p>

<p>In case you get disconnected before completing your %PROJECT signup, click the link below to continue, when you're ready.</p>

<center><a href="%BASE_URL/signup/reid=%reid&customer=%customer" style="font:bold 16px Arial;  text-decoration:none;  background-color:green;  color:white;  padding:8px 12px;  margin-bottom:5px;    -webkit-border-radius:8px;    -moz-border-radius:8px;    border-radius:8px;    border:solid 1px #20538D;    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);">Continue %PROJECT Sign-up</a><br>
<a href="%BASE_URL/signup/reid=%reid&customer=%customer" style="font-size:85%; display:block; margin-top:10px; text-decoration:none;">(%BASE_URL/signup/reid=%reid&customer=%customer)</a></center><br>

<div style="padding:15px; background-color:lightyellow; border:1px solid darkgreen;">
  <div>
    <img src="%BASE_URL%R_PATH/images/%PROJECT_LOGO" align="left" hspace="5" height="96" alt="" style="margin-right:10px;" />
    <h2><br><span style="color:darkblue;">%PROJECT&trade;</span><small style="font-weight:normal; font-size:75%; color:darkgray;"><br><i>the payment card for community power</i></small><br>&nbsp;</h2>
  </div><br>
  <ul>
    <li>Generate funds for community projects every time you use it.</li>
    <li>You and other members decide together what to fund. </li>
    <li>Easy to use. Easy to accept as payment.</li>
    <li>No fees for you. No fees for businesses.</li>
  </ul>
   <a href="%PROMO_URL" style="font-size:75%; font-weight:bold; text-decoration:none; margin-left:200px;">[MORE]</a></p>
</div>

<p>%PROJECT is a 501(c)(3) nonprofit organization.</p>

<p style="text-align:center;">
<a href="%BASE_URL/signup/reid=%reid&customer=%customer" style="font:bold 16px Arial;  text-decoration:none;  background-color:green;  color:white;  padding:8px 12px;  margin-bottom:5px;    -webkit-border-radius:8px;    -moz-border-radius:8px;    border-radius:8px;    border:solid 1px #20538D;    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);">Continue %PROJECT Sign-up</a><br>
<a href="%BASE_URL/signup/reid=%reid&customer=%customer" style="font-size:85%; display:block; margin-top:10px; text-decoration:none;">(%BASE_URL/signup/reid=%reid&customer=%customer)</a>
</p>

<p><b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL" style="text-decoration:none;">%CGF_EMAIL</a>
</div>
</body></html>
