<h3>You apparently requested a new password for your rCredits account.</h3>

<p>Use the link below to login and choose a new password:</p>

<blockquote>{oneTimeLoginUrl}</blockquote>

<p>This link can be used only ONCE to log in and will lead you to a page where you can set your password. From then on, you can log in to <a href="http://devcore.rCredits.org">rCredits</a> using either your username or your account ID.</p>

<blockquote>username: {name}<br>
account ID: {quid}<br>
password: (whatever you choose)<br>
</blockquote>

<p>If you did not ask for a new password, please notify the system administrator immediately at <a href="mailto:info@rCredits.org">info@rCredits.org</a>.</p>