<html>
<body style="font-family:Arial;">
<p>Dear {fullName},</p>

<h2>rCredits Celebration!</h2>
<p>Our year-long pilot has been successfully completed. We are ready to grow more quickly and offer rCredits more widely, as the digital infrastructure for a community-centered democratic economy. Let's celebrate!
<p>Please join us for an <span style="background-color:yellow;">informal lunch and discussion, Saturday, January 31<sup>st</sup>, noon to 2 p.m.</span>, in the Parish Hall of Second Congregational Church, located on the Common in Greenfield. Lunch will be provided. There is no charge, but you must RSVP. Please click one of the buttons below. Or reply to this email.</p>
<p style="margin-left:20px;">
	<form method="POST" action="{yes}" style="display:inline;">
	<input type="submit" name="yes" value="YES I will be there!" style="background-color:lawngreen; border: 1px solid #ccc; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 2px 2px 3px #666; -webkit-box-shadow: 2px 2px 3px #666; box-shadow: 2px 2px 3px #666; font-size: 20px; padding: 4px 7px; outline: 0; -webkit-appearance: none;" />
	</form>
	 &nbsp;
	<form method="POST" action="{no}" style="display:inline;">
	<input type="submit" name="no" value="Alas, NO" style="background-color:lightsalmon; border: 1px solid #ccc; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 2px 2px 3px #666; -webkit-box-shadow: 2px 2px 3px #666; box-shadow: 2px 2px 3px #666; font-size: 20px; padding: 4px 7px; outline: 0; -webkit-appearance: none;" />
	</form>
</p>

<p>This celebration also marks the beginning of the Democratic Phase of rCredits and Common Good Communities. Once we decide together that rCredits are here to stay, we can use rCredits to fund whatever we value, as a community. The question "...but how will we get the money?" is then no longer an issue. The question before us becomes: "What do we want? -- what will we do with that power?"</p>
<p>You won't want to miss this beginning. If you have not yet finished opening your rCredits account, NOW would be a great time to do that. (To attend the celebration, you must have opened your rCredits account and made at least one purchase with your rCard before January 15.)</p>

<h2>rCredits Seminar</h2>
<p>Meanwhile, Common Good Finance is pleased to announce a seminar on <b><i>Realizing the Potential of rCredits</i></b>, <span style="background-color:yellow;">Monday Evenings in January at 6:30 p.m.</span> in the Community Room at Green Fields Market.</p>
<p>The seminar will address the central purpose behind rCredits: community-centered democratic control of the economy. There will be plenty of time for questions and discussion, so other topics covered may include: the nature and history of money, why does the rCredits system work?, steps to establish a Greenfield Common Good Community, and how do we decide where to spend the community’s rCredits? – depending on seminar participant interests.</p>
<p>William Spademan, President of Common Good Finance, and John Root, Senior Policy Analyst, will lead the seminar. Join us for any or all of the sessions: Monday the 5<sup>th</sup>, 12<sup>th</sup> , 19<sup>th</sup> and 26<sup>th</sup> of January from 6:30 to 8:00 p.m. in the Green Fields Market Community Room. There is no charge.</p>
<p>For more information, call William at 413-628-1021.</p>

<p>Sincerely,</p>

<p>Becky, Peter, Emily, Mike, John, and William</p>

<p><b style="color:darkgreen;">Common Good Finance</b><br>
<i>democratic economics for a sustainable world</i></p>

<p>48 Buckland Road, PO Box 21<br>
Ashfield, MA 01330 USA<br>
+1 413 628 1723<br>
<a href="http://commongoodfinance.org">CommonGoodFinance.org</a></p>
</body>
</html>
