<html>
<body>
<p>Dear {fullName},</p>

<p>Tomorrow marks the end of our year-long rCredits pilot. Many, many thanks to all of you who helped, by participating at this early stage. The system is running beautifully, all the most crucial pieces are in place, and we are ready to let it grow more rapidly*. Hurray!</p>

<p>This is cause to <b style="color:orange; font-size:130%;">celebrate!</b> So we are planning an rCredits community gathering over lunch or dinner, in January. Common Good Finance will supply the food -- purchased of course from our participating grocers, restaurants, and suppliers.</p>

<p>We envision informal discussion in small groups (over lunch or dinner), with two suggested rCredits topics: (1) how is it going for you? and (2) what might we do next? Ultimately, this is the real purpose of rCredits: to bring us together as a community to decide for ourselves what we want from our local economy and how to achieve it. The rCredits Team will provide a summary analysis and some projections of future capacity.</p>

<p><span style="background-color:yellow;">Please click</span> your favorite choice(s) below, to help us plan the best time to schedule the party, so you can be there:</p>

<form method="POST" action="{action}">
<table style="width:auto; margin-left:20px;">
<tr><td><input type="checkbox" name="wl" /></td><td>Weekday lunch (11:30-1:30)</td></tr>
<tr><td><input type="checkbox" name="sl" /></td><td>Saturday lunch (11:30-1:30)</td></tr>
<tr><td><input type="checkbox" name="wd" /></td><td>Weekday dinner (6-8:30) (not Friday)</td></tr>
<tr><td><input type="checkbox" name="ed" /></td><td>Friday, Saturday, or Sunday dinner (6-8:30)</td></tr>
<tr><td><input type="checkbox" name="no" /></td><td>Sadly, none of the above</td></tr>
<tr><td></td><td><input type="submit" value="Vote" /></td></tr>
</table></p>

<p>By the way, if you would like to contribute a half hour or more of your time to help us throw the event (yay!), please reply to this email and I'll call you.</p>

<p>Excitedly yours,</p>

<p><span style="font-family:Brush Script MT,Monotype Corsiva,Lucida Handwriting,Comic Sans MS,Helvetica; font-style:italic; font-size:24pt; color:darkblue;">William</span><br>
<i>for the rCredits Team</i></p>

<p>* To encourage rapid growth, the system will soon begin giving you incentive rewards for inviting people (including for people you already invited). Expect another email about that, soon.</p>
</body>
</html>
