<h3>rCredits NEXT STEP</h3>

<p>Hello from the rCredits System! Please make a note of your account ID. Then click the link below to choose a password and finish opening your rCredits account. Or type the verification code in the window where you left off.</p>

<blockquote><a href="{site}/reset/id={qid}&code={code}">{site}/reset/id={qid}&code={code}</a><br>
<br>
account ID: {qid}<br>
<br>
verification code: <b style="color:red">{code}</b><br>
</blockquote>

<p>Once you finish opening your account, you will receive your rCard in the mail.</p>