<h3>Thank you for signing up for rCredits!</h3>

<p>You can now log in by clicking this link (or copy and paste it to your browser):</p>

<blockquote>{oneTimeLoginUrl}</blockquote>

<p>This link can be used only ONCE to log in and will lead you to a page where you can set your password. From then on, you can log in to <a href="http://devcore.rCredits.org">rCredits</a> using either your username or your account ID.</p>

<blockquote>username: {name}<br>
account ID: {quid}<br>
password: (whatever you choose)<br>
</blockquote>

<p>Your account starts out with $250 in "As-If" rCredits, so you can practice paying and charging other members and not-yet-members. Use this practice time to pay and charge people (and companies) that you actually do business with in a typical month. Then, once you start using rCredits for real, you get incentive rewards for all those practice transactions!</p>

<p>Have fun.</p>