<h3>Congratulations on signing up for rCredits!</h3>

<p>You can now sign in using either your username or your account ID. To sign in, go to <a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a> and click "Members' Site" at the top. You will need to choose a new password when you sign in.</p>

<blockquote>username: {name}<br>
account ID: {quid}<br>
password: {pass}<br>
</blockquote>

<p>Be sure to upload a photo and complete the membership requirements, to get your signup bonus and receive your rCard.</p>

<p>Have fun.</p>

<p><b>TIP:</b> Unless you are a computer whiz, do not ever sign in after clicking on an email link to rCredits (or any website where you have account information). It could be an attempt to discover your personal information and steal your identity or your money. Or both.</p>

<p>Instead, type the rCredits website address (<a style="text-decoration:none; color:darkblue; font-weight:bold;">rCredits.org</a>) in the address bar at the top of your browser window and click "Members' Site" at the top.</p>