<h3>Congratulations on signing up for rCredits!</h3>

<p>Please make a note of your username and account ID. Then click the link below to choose a password and finish opening your rCredits account.</p>

<blockquote><a href="{site}/reset/id={name}&code={code}">{site}/reset/id={name}&code={code}</a><br>
<br>
username: {name}<br>
account ID: {quid}<br>
</blockquote>

<p>Be sure to complete all six membership steps, to get your rCard and be able to make purchases and receive your signup bonus.</p>

<p>Have fun.</p>

<p><b>TIP:</b> Unless you are a computer whiz, be very wary of signing in from an email link to rCredits (or any website where you have account information). It could be an attempt to discover your personal information and steal your identity or your money. Or both.</p>

<p>You can always sign in safely by typing "rCredits.org" in the address bar at the top of your browser window.</p>