html, body, div, #page-wrapper {min-width:0px; max-width:480px;}
div#footer, div#footer div.region-footer {margin:0px;}
div#footer-wrapper {padding:0px;}
#main-wrapper {min-height: 0px;}
#main {margin-bottom:10px;}

form.labeled  label {width:100px;}
form.labeled div#edit-title label,
form.labeled div.form-item div.description,
form.labeled div.description,
form.labeled input.form-submit,
form.labeled div.form-radios,
form.labeled div#edit-subtext {margin-left:100px;}

/* Nav */
ul#main-menu-links, ul.tabs.primary {padding:0px; font-size:0.75em;}
ul#main-menu-links li, ul.tabs.primary li {padding:0px;}
div.tabs ul.primary li {margin:0px;}
div.tabs ul.primary li a {padding:0 4px 0.5px; font-size:1em;}

/* Popups */
fieldset#popup, fieldset#help {
  left: 0px;
  width: 480px;
  height: 300px;
}
fieldset#popup {left:0px;} /* needs 150px extra for unknown reason */
fieldset#popup select {width:460px; overflow:auto;}
fieldset#help {height:420px;}
div#popup-close {left:450px;}

div#txs-title, table#txlist {max-width:640px; width:640px;}

#rcreditswebformrelations div {max-width:640px;}
#rcreditswebformrelations table#relations {width:640px;}

/* Options */
#rcreditswebformoptions div.form-type-radio {display:block;}
#rcreditswebformoptions div.form-item-secret-bal input {margin-left:105px;}

/* Company Info */
#rcreditswebformcompany div#edit-name label {display:inline-block;}

/* Txs (Transactions) */
#rcreditswebformtxs div#txs-title, div#txsum-title {text-align:left; padding-left:140px; width:200px;}

/* Exchange (Get r / USD) */
#rcreditswebformexchange div#edit-subtext div.r-amounts {text-align:right; margin-right:105px;}

/* Account Info */
#rcreditswebformaccount input.password-field, #rcreditswebformaccount input.password-confirm {width:200px;}
#rcreditswebformoptions div.form-item-secret-bal label {margin-left:-125px;}
#rcreditswebformaccount select#edit-timezone--2 {width:420px; font-size:12px;}
