/* Standard Forms */
#page-wrapper, #footer-wrapper {background: white;} /* Drupal messes this up otherwise, in Bartik theme */
#page-title {display: none;}

form.rweb div#edit-title label {font-size:200%; color:darkgreen;}
form.rweb div.form-item div.description {display:block; margin:2px 0px 0px 0px;}
form.rweb div.form-type-item label {text-align:left;}
form.rweb div.form-type-textfield {display:inline-block; margin-right:0px;}
form.rweb div.form-type-textfield label {display:inline-block;}
form.rweb div#edit-subtext label {font-weight:normal; width:100%;}

form.rweb input {vertical-align:top;}
form.rweb input[type="text"] {width:240px;}

form.rweb div.form-type-radios {height:25px; margin:0px;}
form.rweb div.form-radios {margin-bottom:0px;}
form.rweb div.form-type-radio {display:inline-block;}
form.rweb div.form-type-radio input {display:inline-block; margin-left:0px; vertical-align:bottom;}
form.rweb div.form-type-radio label {display:inline; width:100px; margin-left:3px; text-align:left; vertical-align:top;}

/* Labeled Forms (each field is preceded by a short label and the fields line up)
/* form.rweb.labeled (this fails for Chrome) */
form.labeled div.form-type-textfield {display:block; margin-right:0px;}
form.labeled label {display:inline-block; width:130px; text-align:right; margin-right:0px;} /* default label width */
form.labeled div#edit-title label {margin-left:135px; width:100%;}
form.labeled div.form-item div.description {margin-left:135px;}
form.labeled input[type="submit"] {margin-left:135px;}
form.labeled div.form-radios {margin-left:135px;}
form.labeled div.labeled-block {display:inline-block; vertical-align:top;}
form.labeled div#edit-subtext {margin-left:135px;}

form.labeled input.form-local, form.rweb input.form-local {margin:1px 2px 1px 2px; padding:2px; font-size:70%; color:darkgreen;}

/* Account Selector */
#rcreditswebaccount-form #edit-account-submit {display:none;} /* Drupal requires unused button to be there, so make it invisible */
/* #rcreditswebaccount-form div.form-type-item {display:none;} /* no title */
#rcreditswebaccount-form  input[type="submit"] {margin:5px 0px 0px 10px;}

#rcreditswebaccount-form  div#edit-account-current-balance label {font-weight:normal;} /* when there is just one account */

/* Contact Info (labeled) */

/* Transact form (labeled) */

/* Exchange form (labeled) */
/* #rcreditswebexchange-form div#edit-request label {font-weight:normal; text-align:left; margin-left:100px; width:100%} */
#rcreditswebexchange-form input#edit-getusd {margin-left:50px;}

/* Transaction Summary Table */
#txsum, #txsum-title, #txs-title {width:550px; margin:0px;} /* outline:2px solid darkgreen;} */
#txsum-title, #txs-title {text-align:center; margin:0px; padding:0px; font-weight:bold; font-size:150%;}
#txs-title {margin-top:30px;}
#txsum td {text-align:right; border:0px;}
#txsum tr#txsum-dates {background:none; line-height:.9; border:0px;}
#txsum tr#txsum-headers {font-weight:bold; background:none; border-bottom:1px solid black;}
/*one tosign toyou fromsign fromyou rewardssign rewards balancesign balance*/
/* #txsum col.txsum-one, #txsum col.txsum-balance {width:120px;} */
#txsum col.txsum-tosign, #txsum col.txsum-fromsign, #txsum col.txsum-rewardssign, #txsum col.txsum-balancesign {width:10px;}
#txsum col.txsum-toyou, #txsum col.txsum-fromyou, #txsum col.txsum-rewards {width:75px;}

/* Transactions */
#rcreditswebtxs-form {display:inline-block; width:100%; height:45px; text-align:left;}
#rcreditswebtxs-form div.form-item-tx-period {display:inline-block;}
#rcreditswebtxs-form div.form-item-tx-task {display:inline-block;}
#rcreditswebtxs-form div.form-type-select label {display:inline-block; width:225px;} 
#rcreditswebtxs-form  input[type="submit"] {margin:5px 0px 0px 10px;}
#rcreditswebtxs-form div.txs-buttons div {display:inline-block; width:22px; text-align:center; vertical-align:middle;}
#rcreditswebtxs-form div.txs-buttons div:first-child +div input {color:red; font-weight:bold;}

#rcreditswebtxs-form col.tx-selector {width:10px;}
#rcreditswebtxs-form col.tx-tid {width:50px; text-align:right;} /* for IE; text-align in <col> should have no effect according to CSS 2.1 */ 
#rcreditswebtxs-form col.tx-date {width:60px;}
#rcreditswebtxs-form col.tx-fromyou {width:75px; text-align:right;}
#rcreditswebtxs-form col.tx-toyou {width:75px; text-align:right;}
#rcreditswebtxs-form col.tx-status {width:75px;}
#rcreditswebtxs-form col.tx-buttons {width:85px;}
#rcreditswebtxs-form col.tx-rewards {width:75px; text-align:right;}

#rcreditswebtxs-form th:first-child {text-align:right;} /* column 1 */
#rcreditswebtxs-form th:first-child +th {text-align:right;} /* column 2 */
#rcreditswebtxs-form th:first-child +th+th+th {text-align:right;} /* column 4 */
#rcreditswebtxs-form th:first-child +th+th+th+th {text-align:right;} /* column 5 */
#rcreditswebtxs-form th:first-child +th+th+th+th+th {text-align:right;} /* column 6 */
/* #rcreditswebtxs-form th:first-child +th+th+th+th+th+th {text-align:right;} /* column 7 */
#rcreditswebtxs-form th:first-child +th+th+th+th+th+th+th+th {text-align:right;} /* column 9 */

#rcreditswebtxs-form td:first-child {text-align:right;} /* column 1 */
#rcreditswebtxs-form td:first-child +td {text-align:right;} /* column 2 */
#rcreditswebtxs-form td:first-child +td+td+td {text-align:right;} /* column 4 */
#rcreditswebtxs-form td:first-child +td+td+td+td {text-align:right;} /* column 5 */
#rcreditswebtxs-form td:first-child +td+td+td+td+td {text-align:right;} /* column 6 */
/* #rcreditswebtxs-form td:first-child +td+td+td+td+td+td {text-align:right;} /* column 7 */
#rcreditswebtxs-form td:first-child +td+td+td+td+td+td+td+td {text-align:right;} /* column 9 */

/* Sharing form */
#rcreditswebshare-form div {vertical-align:top;}
#rcreditswebshare-form label {display:inline-block;}
#rcreditswebshare-form div.form-item-change-permission label {width:290px; margin-left:0px;}
#rcreditswebshare-form div#edit-subtitle label span {font-weight:normal;}
#rcreditswebshare-form div.form-item-change-permission {display:inline-block;}

#rcreditswebshare-form input#edit-new-share {width:150px;}
#rcreditswebshare-form div.form-item-new-share {display:inline-block;}
#rcreditswebshare-form div.form-item-new-share label {width:265px;}
#rcreditswebshare-form div.form-item-new-share div.description {margin-left:270px;}
#rcreditswebshare-form div.form-item-new-permission {display:inline-block;}

/* Cell */
#rcreditswebcell-form input#edit-delete {margin-right:100%;}
#rcreditswebcell-form table.table-select-processed {width:300px;}

/* Example Store */
#rcreditswebexample-store-form input.form-submit, #rcreditswebexample-store-form input.form-submit:hover {background:none; border:0;}

/* Pay with rCredits */
#rcreditswebbuy-now-form div#edit-submit label {margin-left:100px; width:100%; color:blue;}

/* Directory */
/*#rcreditswebdirectory-form div.form-item-area {display:inline-block;}
#rcreditswebdirectory-form input#edit-submit {margin-left:5px;}
#rcreditswebdirectory-form div.form-item-area label {width:40px;}
#rcreditswebdirectory-form div.form-item-area div.description {margin-left:45px;}
*/
#rcreditswebdirectory-form div#edit-item li {list-style-type:none;}

/* Login */
#user-login-form div#edit-tip label {font-weight:normal;}

/* html.js input.form-autocomplete, */
html.js input.form-autocomplete.throbbing {margin:0px; padding:0px; width:400px;}
div#autocomplete  ul {clear:none; display:inline;}
div#autocomplete  li {margin:0px; padding:0px; line-height:140%; background-color:lightyellow;}

/* Home */
#rcreditswebhome-form div#next-steps {width:500px;}