.clearfix {
	zoom: 1;     /* triggers hasLayout */
	display: block;     /* resets display for IE/Win */
} 

#ballot div.vetonotediv { width:380px; }
#ballot div.vetonotediv textarea  { width:365px; }
#ballot div.gradeheader td.gAplus  { text-indent:5px; }

*.CGslider-panel { height: 23px; }
*.orientation-horizontal *.CGslider-slit { top: -11px; }
*.orientation-horizontal *.CGslider-knob { width: 10px;	height: 12px;	top: -0px; }
